[2020-10-23 06:06] #718 closed

[2020-10-23 08:13] Jemug commented on #715
I have the same issue, it's very annoying

[2020-10-23 11:25] DrTedGit opened #719 "No longer able to set text color to transparent using blocks"
### Platform
All platforms (web, android, iphone)

### Issue/Request Origin
Development

### Project Link
https://x.thunkable.com/copy/2fcf0afbcbac98b9046fa3fc4a35c5e5

### Behavior
Thunkabled change the way transparent color is handled.  The HEX value now shows "TRANSPARENT"
![image|444x449](upload://4YJc4T8suc3voGJDb9GhPRVizpX.png)
![image](https://user-images.githubusercontent.com/66176281/9699

[2020-10-23 12:25] #719 closed

[2020-10-23 12:31] DrTedGit commented on #719
Found a workaround with rgba(0,0,0,0)

[2020-10-23 15:49] mamiksik opened #720 "DataViewList height is zero when height set to fit content, regardless of the actual data."
### Platform
Android and Web Preview

### Steps to Reproduce
1. Put DataViewList inside a scrollable container
2. Fill the DataViewList with enough data to overflow the container
3. Set the heigh of DataViewList to fit the content

### Project Link
https://x.thunkable.com/copy/0c58adf514393b90cf2d2b0a02b2b146

### Expected Behavior
All data from DataViewList are displayed as the whole container is

[2020-10-24 00:36] StevenPurn commented on #720
Hi! Thanks for filing an issue.

Can you clarify what the use case for this is? Typically items that are scrollable cannot fit content since the content is the scroll area which can shrink or grow as needed to ensure all the child items fit inside. So, generally, I would recommend using either fill container or setting an explicit height. Though if we want to enforce that the option shouldn't be a

[2020-10-24 00:38] StevenPurn commented on #709
Just to make sure I understand, you're saying that if you switch layouts and the previous layout has components which share the same name as the new layout you would like us to automatically replace the components in the blocks? I think this is technically possible but I'm not sure how big of a project it would be. So I definitely can't commit to a timeline but I can at least look into whether it

[2020-10-24 00:38] StevenPurn commented on #715
Thanks for letting us know! We believe we have identified the issue and are working on a fix now. Sorry about that!

[2020-10-24 01:05] tatiang commented on #709
@StevenPurn Yes, that's what I'm suggesting. I can imagine that it's not seamless or simple to enact. Thanks for considering!

And really what I'm hoping for is a Save/Save As... choice when it comes to saving a custom data viewer layout. Because each time I make a change, I have to give it a new name (which doesn't appear anywhere within the project) and I have to manually go back and delete the

[2020-10-24 01:28] StevenPurn commented on #709
You should be able to edit the layouts once created via the 'My Data Viewer Layouts' tab on the home page with all your projects. Unfortunately, once you edit the layout you still need to switch to it and so you'll run into the same issue with the blocks needing to be replaced.

[2020-10-24 12:39] mamiksik commented on #720
Hi, we want to fit multiple list views and heading into a single scrollable area (Note we also want the heading to "scroll out" when you scroll down, so it's not taking space on the screen). Rather than having multiple scrollable areas. We could not find a different solution to our problem, I am happy to hear if there is one, because I think this is quite a common use-case.

![Screenshot_20201024_

[2020-10-25 08:39] #700 closed

[2020-10-25 09:21] migo4Huuub commented on #713
Yep, that helped me a lot! I did not realize that the process was asynchronous. I have now adjusted my reading routines accordingly and my problem is solved. Many thanks!

[2020-10-25 12:28] mamiksik commented on #720
Hi, I've got a new finding. Setting absolute height to DataViewList also does not work for the same reason; the attribute `flex: 0 0 0%;`

[2020-10-25 13:37] MrMazzone commented on #648
@josmas any update on this?  I have a work around, so not a big deal, but I can see this being a tricky bug for people.

[2020-10-25 13:43] MrMazzone commented on #233
@josmas I have been doing workshops with students again.  It would be incredibly helpful if the team could revisit this idea.

Again, I have a set of tablets for the group to use.  I do not want them to login with their Google account on the tablet as it will persist their and people could access their Gmail, etc.  So, I ask students to login with email option instead of login with Google.  Every

[2020-10-26 04:58] weihuali0509 commented on #233
@MrMazzone We will talk about it internally in the coming week. We will let you know soon.

cc @TingC

[2020-10-26 11:22] DrTedGit opened #721 "Scrollable Column sizes Incorrect in both Web LIve Test and Android Live Test"
### Platform
Web and Android Live Test

### Issue/Request Origin
self

### Steps to Reproduce
1. Create new project
2. add a column
3.set column property to scrollable
4. set border to some color and thickness
5. set height to relative 40%
6. Duplicate column
7. Preview in either web or android

### Project Link
https://x.thunkable.com/copy/b6b8687888b7bbcb76186ba7d10581f7

### Expected Behavior
C

[2020-10-26 16:05] StevenPurn commented on #720
Thanks for the follow up. I think this is something we can enable. I'll take a look at it this week and I would expect it to be fixed in production by early next week.

@mamiksik Thanks for the additional info. I'll make sure we get this fixed as well.

[2020-10-27 00:07] tatiang opened #722 "Customizable text for Data Viewer List with no data"
**Is your feature request related to a problem? Please describe.**
Not really a problem... just a minor improvement. When a data viewer list is empty because the data source has no rows, the data viewer list displays "no data found" on the screen.

**Describe the solution you'd like**
The ability to specify what the "no data found" message is. For example, I might prefer to have it say "Please sea

[2020-10-27 10:22] DrTedGit opened #723 "Column with Height Fit Contents Displays switch controls on top of each other"
### Platform
Android companion

### Issue/Request Origin
self

### Steps to Reproduce
IF the column height is set to fit contents, the controls all stack on top of each other.  If the column height is set to Fill container, the controls display correctly
![image](https://user-images.githubusercontent.com/66176281/97289119-ffc4fb00-1803-11eb-9155-b4c20c021829.png)

### Project Link
https://x.thunka

[2020-10-27 11:35] stanis14 opened #724 "The app load two time"
Platform : ✕

Issue Origin : The issue appear when starting de the app once downloaded and installed on the phone , when refreshing the companion with "live test"

Steps to Reproduce :
1. Start the app

Project Link :

https://x.thunkable.com/projects/5f74b250b1ddb477a2793ecb/d6e54a48-d95c-4cb6-a083-8903fe1fe08c/designer

Also other people are talking about it on Thunable community :

https://comm

[2020-10-27 16:55] kezb765 commented on #724
Yes, I also discovered this behaviour.

My workaround is: initialise an app variable to zero and count up by one in the block "when screen1 starts". Only do your init-stuff when the variable is zero otherwise you know that you are in the second "startup" and skip it. Not nice but right now the only way I found to prevent this error.

[2020-10-27 17:27] ipal2006 opened #725 "Proximatory Sensor"
**Is your feature request related to a problem? Please describe.*I have got a problem for blind people.They can't see.I can feel their pain.For this project I need proximatory sensor as MIT APP INVERTER.Please make it before 1st December 2020.....Make it same as MIT please.*

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I always hate when someone tea

[2020-10-27 18:14] weihuali0509 commented on #233
@MrMazzone The option is enabled now, please check it out :)

<img width="445" alt="Screen Shot 2020-10-27 at 11 14 24 AM" src="https://user-images.githubusercontent.com/1775235/97344145-9b2a9000-1845-11eb-902b-108a4e238ce1.png">

[2020-10-27 18:14] #233 closed

[2020-10-27 18:33] MrMazzone commented on #233
WOOOHOOOOOOOO!!! 🎉🎊🥳

Thank you so much!

[2020-10-27 23:37] josmas commented on #725
Thanks for your request.
The package we use for sensors does not support proximity so this is not planned for the near future. Thanks in any case for your request, we'll keep it in mind.

[2020-10-27 23:39] josmas commented on #712
This should be fixed in out next release in a couple of days. thanks!

[2020-10-28 09:29] AmigoDeluxe commented on #465
4 months later...

[2020-10-28 09:31] AmigoDeluxe commented on #451
https://github.com/react-native-maps/react-native-maps

[2020-10-28 09:31] AmigoDeluxe commented on #257
:-/

[2020-10-28 14:15] josmas commented on #648
hey @MrMazzone, I have not looked into it yet. Finishing upgrades first; hopefully getting to this one and a few others soon-ish!

[2020-10-29 04:15] tatiang opened #726 "Ability to turn browser block/click sounds off"
**Is your feature request related to a problem? Please describe.**
When I'm listening to music and coding in Thunkable, the "clicks" that the blocks make when connected are quite loud. If I turn down the computer volume, then the music volume is quite low. If I turn it up, then the Thunkable sound effect is quite high.

**Describe the solution you'd like**
An account setting to turn off interface

[2020-10-29 20:33] MrMazzone opened #727 "Live Test Companion App Does Not Auto-Refresh Changes"
### Description/Background
For about a little over a month now, my students' non-PRO Thunkable accounts do not auto-refresh when they make changes to the app.  My PRO Thunkable account does, even on the same device that did for the students.

I want to preface this bug report with: Maybe you (Thunkable team) have changed this to a PRO only feature?  I hope not, as it is a real bummer to close the

[2020-10-29 20:46] josmas commented on #727
Hey @MrMazzone we have not made any changes to the Live app depending on user accounts. Can this be something else such as students using a code to log in or similar?

[2020-10-29 21:01] MrMazzone commented on #727
@josmas Very possible.  It seems to be most prevalent when students use code to log in.  But, my PRO account does work fine when I login with code.  Sometimes 1 student out of approx 15 will have auto-refresh.  Most have not had it for a little over a month.

The only other thing I can think of, other than PRO vs non-PRO, is that these students create an account minutes before working on the proje

[2020-10-29 21:07] josmas commented on #727
I don't think so, new accounts should work the same as old ones. Are you all on the same network? or are you teaching remotely?
Gut feeling is that the main variable here is most likely the network. New, old, PRO and free accounts all use the same code when it comes the live app. Connections made with a code do use a different implementation, so that might be something to look into.

@jane-d-alt w

[2020-10-29 21:19] MrMazzone commented on #727
@josmas All on the same network.  Student laptops and the Android tablets. And, myself and the tablets.  I am doing these in-person. We are hybrid in-person and remote at my school.

Might be just connection with code issue, but what is weird is it works for my account no problem every time.

[2020-10-30 18:22] tatiang commented on #715
Hoping this gets fixed soon! It's unsettling to delete a component and then have the screens switch automatically.

[2020-11-01 11:22] camtez commented on #597
Hey, just bumping this request as transitions are a super important feature to make an enjoyable UI and UX. Is there at least a way to change the shadow that swipes over when you navigate between screens?

[2020-11-02 16:43] DrTedGit opened #728 "Map Variable Names when Adding From My Screens"
**Is your feature request related to a problem? Please describe.**
Having Saved Screens is very helpful for building large complex apps. Unfortunately, Often I use stored variable across forms to manage the application state (e.g. email, password, etc.). Even when Saved Screens have the same variable scope and name, when they are added to a new project, the variables do not map to the existing pro

[2020-11-03 01:56] fender21 commented on #651
Here to chime in on adding a Notify mechanism. I am having to evaluate other platforms right due to this Thunkable limitation which is a shame as I am a big fan of Thunkable.

[2020-11-03 12:52] josmas commented on #648
Hey @MrMazzone I had a quick look at this. If you use `generate JSON` we do filter out the property so you don't see it.

Was this working before or you just noticed it when you started using it now?

@pmwthunkable what do you think? Know of any recent changes or have a suggestion on how to use the block to avoid the issue? We could also filter out in the airtable block?

[2020-11-03 13:25] josmas commented on #727
That's odd indeed. I can only think of issues with the network, really, but those are really tricky to debug and figure out.

Do you pre-install the companions into the tablets? all with the same account?
When you say users create the account right before using it, that is the thunkable account, right? but the tablet already has the app pre-loaded?

@weihuali0509 any idea what might be going on he

[2020-11-03 13:36] MrMazzone commented on #727
@josmas Yes. App is preinstalled on tablets.  I try to keep it up-to-date.  Have ensure it was up-to-date multiple times before the class uses it.

Yes, the Thunkable account is created before. We create the Thunkable account, they create their first project, and then we connect to the tablet.

[2020-11-03 13:39] MrMazzone commented on #648
Hi @josmas .  This did previous work properly, then it stopped working.  I had an app working with generate JSON and filtering out ```_scopreVariableInfo```, but then it stopped working and I discovered this as the issue.  It started when I first posted.

Let me give it a check and see if it is fixed now.

[2020-11-03 13:50] MrMazzone commented on #648
It seems to work only if you use ```generate JSON```. as you described @josmas .  That was not working previous.  However, it was not required prior to me creating this thread, the variable could be directly used.  I am okay just using ```generate JSON``` but it would be useful to filter that out as 1. you can directly connect the Thunkable object block without issue, and 2. it prevents issues whe

[2020-11-06 06:13] tatiang commented on #591
I think I requested this recently, too. I also would like to see the rows selectable by numerical order. So "1" for the first row, "2" for the second, etc. I actually just tried this with a local data source and it worked. I'm not sure if that's a recent change...

[2020-11-06 20:29] StevenPurn commented on #720
I believe this should be fixed now. Please update your companion apps (and rebuild built apps if necessary) and respond here if you notice further issues. Until then, I'll close this.

[2020-11-06 20:29] #720 closed

[2020-11-07 04:40] DrTedGit commented on #727
I have found the lag between updating the project and the live test update has been pretty slow over the last few month. It is expecially problematic when a number of changes are made rapidly.  If I change 10+ blocks in under a minute, it can take ~ 5 minutes for all of the changes to propagate to Live Test.

[2020-11-07 04:43] DrTedGit commented on #702
I have found the TOPT tab causes all screens to load simultaneously.  That could account for the tremedous lag you are experiencing.  https://community.thunkable.com/t/start-event-timing-for-tab-and-drawer-navigators/953880?u=drted

[2020-11-07 04:51] DrTedGit opened #729 "Paying down technical debt"
Thunakble appears to be  a [perpetual beta application](https://en.wikipedia.org/wiki/Perpetual_beta), as evidenced by the plethora of unresolved bug report in GitHub as well as the notes in the documentation that some features only work on some platforms.

I would REALLY like to see a concerted effor to pay down the [technical debt](https://www.bmc.com/blogs/technical-debt-explained-the-complete-

[2020-11-07 09:07] rem708 commented on #729
I too have to agree completely here. I saw the potential in this product but have been very disappointed in missing basic features and the constant bug fixes that breaks modules. The fees for the pro version is three times higher than that of Microsoft Office 365 so I would expect a premium product. I expect the churn on people using this product is huge.
Lets get the basics addressed first before

[2020-11-09 17:06] NathanaelGW opened #730 "6MB Limit to Stored Variables Android?"
### Platform
Thunkable X, Android App

### Steps to Reproduce
Store more than 6MB of data within stored variables on Android devices.

### Expected Behavior
The ability to save stored variable data on Android devices until it runs out of internal storage space.

### Actual Behavior
I've created an app using Thunkable X and part of its functionality encodes image URLs to base64 and then saves it to

[2020-11-09 19:05] amblemind commented on #130
Upvote: I'm using AirTable API calls more and more because they allow you to use the filterByFormula queryParam. Along with this, I'd like to be able to use a PATCH REST call, so that I can update a single cell rather than having to retain the whole row record and use a PUT. PUT removes any values not defined in the object passed.

[2020-11-09 19:06] amblemind commented on #393
Upvote: This is a dup of https://github.com/thunkable/thunkable-issues/issues/130 and should be merged/deleted.

[2020-11-09 19:16] amblemind commented on #729
@DrTedGit 100% agree.

[2020-11-10 00:59] realmisterfish opened #731 "Video Element Bug"
### Platform
Thunkable X

### Issue/Request Origin
Community (this issue has been occurring since February 2020)

### Steps to Reproduce
1. Create a screen with the video element and add a .mp4 or .mov file to it
2. Test the video with live preview (Android) or APK

### Project Link
https://x.thunkable.com/projects/5ddd6c476f31e0431e6496a3/9bfef047-3d9d-42ad-b09a-4b9c2402cb7c/designer

### Expecte

[2020-11-10 12:23] DrTedGit opened #732 "Tab navigator underline does not display correctly for installed Android APK"
### Platform
Thunkable X, Android

### Issue/Request Origin
https://community.thunkable.com/t/tab-navigator-underline-does-not-display-correctly-for-installed-android-apk/964783?u=drted

### Steps to Reproduce
I have a tab navigator with 11 (yes 11) screens. The tab works correctly when viewed on an android device using the Thunakble LIve app. But when I build the app and install the APK, the unde

[2020-11-10 16:46] josmas commented on #393
closing as
Duplicate of #130

[2020-11-10 16:46] #393 closed

[2020-11-10 16:47] josmas commented on #130
we have this on testing; out soon if all goes well.

[2020-11-10 16:56] josmas commented on #732
Hi @DrTedGit can you share your device make and model? I don't see it in the emulator but it's quite clear in the screenshare.

[2020-11-10 16:58] #375 closed

[2020-11-10 16:59] #712 closed

[2020-11-10 17:27] DrTedGit commented on #732
Galaxy S20 5G
Model SM-G981V
Hardware version REV1.0

[2020-11-10 17:54] realmisterfish commented on #729
1000% agree. There's been an unresolved video element bug for 10+ months that I wasn't able to get resolved even as a Pro user.

[2020-11-11 14:46] amblemind opened #733 "Top Portion of Scrolling Column Cutoff in Webview"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Web View (Responsive & Phone)

### Steps to Reproduce
1. Copy https://x.thunkable.com/copy/2675b6e77801e35a58def53fefddde2d
2. Open in Preview
3. Open in Responsive Preview

### Expected Behavior
I can see top portion of c

[2020-11-11 16:42] dariocappello opened #734 "to change the background image of stage"
Hi. I need to change the background image of the stage from an image loaded in the project or from a photo in the gallery of the mobile phone or from a photo taken also using the same app to be dynamically changed. Right now thunkable doesn't. Can it be implemented?

I wish we could change it the same way you change the image in a picture.

**Describe alternatives you've considered**
I do not know

[2020-11-11 16:53] tatiang opened #735 "Modifier key that allows movement a single embedded block"
**Is your feature request related to a problem? Please describe.**
I often have to move a single block from within a set of blocks. Currently, there's no way to do this without taking everything attached below the block with you.

**Describe the solution you'd like**
Hold down a modifier key (**shift**?; **option** could be for copying a set of blocks; **shift+option** for copying a single embedde

[2020-11-11 21:59] easaw commented on #69
To update, ThinkDark now has a demo/ install video! You will find it linked in this post: https://community.thunkable.com/t/unofficial-dark-theme-for-thunkable-with-demo-video/625009

Thunkable team, feel free to use ThinkDark as a base or any parts of it!
github.com/easaw/ThinkDark

😄 👍

[2020-11-11 22:59] bromanous opened #736 "The "find first occurrence of item" list block only works on strings"
We noticed that the "find first occurrence of item" list block only works on strings and cannot search through numbers. It would be great it could work on numbers as well.

[2020-11-12 21:50] Bellacopia opened #737 "Strange behaviour of List viewer with Live Companion"
### Platform
✕ Android companion version 24101

### Actual Behavior
List viewer shows only the first 10 items of a list of 100

The same list is ok with ✕ Android companion version 23702

[2020-11-12 22:15] realmisterfish commented on #731
Bueller...
Bueller...
Bueller...

[2020-11-12 22:15] realmisterfish commented on #731
Anyone? I have to move to a different platform

[2020-11-12 22:50] josmas commented on #737
Hi @Bellacopia is your list embedded within other components? I cannot see it in an app with just a list viewer.

[2020-11-12 23:05] josmas commented on #737
Can you see it on this project? It has 12 elements and you scroll the list: https://x.thunkable.com/projectPage/5fadbe8db026690011fcdd10

[2020-11-12 23:06] Bellacopia commented on #737
No, my list is not embedded.
Even the "Item click" block does not work.: in some cases it has no effect, while in others it crashes the app.
Anyway, there's something wrong with version 24101.

[2020-11-12 23:17] josmas commented on #733
Thanks for the report @amblemind
I can see it too. I'm going to slightly modify the title though, as I first I thought you were talking about the Web Viewer component. We'll look into it.

[2020-11-12 23:21] Bellacopia commented on #737
Here are two screenshots from the same list taken on two different devices: the first uses version 24101, the second version 23702:

![Lista 1](https://user-images.githubusercontent.com/63849566/99007872-5d1bb480-2545-11eb-9e06-004985a27e11.jpg)
![Lista 2](https://user-images.githubusercontent.com/63849566/99007875-5db44b00-2545-11eb-9714-ab6bf485fe7f.jpg)

[2020-11-12 23:35] josmas commented on #737
I have added clicks to the project above, can you please test it?

I can see the differences in the screenshots, but it might be an interaction with something else in there. Can you describe the layout of your screen? is it a row at the top (with a label and a button) and then the list just under it? do you have a fixed size for any of the components?

[2020-11-12 23:41] Bellacopia commented on #737
Correct! The list has standard parameters. But please note that I haven't changed anything on this screen in weeks.

[2020-11-12 23:48] Muaazt opened #738 "PDF417 Barcode Support"
**Is your feature request related to a problem? Please describe.**
In the courier parcel tracking and identity document scanning industry most barcodes are PDF417 format but Thunkable X barcode scanner does not read this barcode format.

**Describe the solution you'd like**
Add support for this 2D Barcode Format.

**Describe alternatives you've considered**
Looked at taking a picture of barcode an

[2020-11-12 23:49] Bellacopia commented on #737
I have now tried to open the backups of the previous versions of the app (fully functional) and now they give the same problem.

[2020-11-12 23:54] Muaazt opened #739 "Contact Picker Input"
**Is your feature request related to a problem? Please describe.**
Input field where user can select a contact from the phone built in phone/contacts directory.

**Describe the solution you'd like**
Add support for this input field

**Describe alternatives you've considered**
An alternative would be where user enters the phone number manually but not user friendly and resulted in project being put

[2020-11-12 23:55] Muaazt commented on #263
This feature request is over a year old, has there been any feedback as yet or there not enough interest.

[2020-11-12 23:57] Muaazt commented on #717
Upvote!

[2020-11-13 00:01] Muaazt commented on #593
Upvote!

[2020-11-13 00:04] josmas commented on #737
I cannot reproduce on my side; can you please share a link to your project? Feel free to send it through Intercom if it is a private project.

[2020-11-13 00:06] josmas commented on #731
We cannot reproduce this issue. Video works fine on the emulator, a OnePlus 6 and a Samsung 6, both the Live App and the downloaded app. Can you share the make and model of the device you are testing with?

[2020-11-13 00:14] MrMazzone commented on #593
I would love to have phone, tablet, and webpage as basic options.

[2020-11-13 00:32] realmisterfish commented on #731
Im using a Note 10+
Other Android phones have the same issue. The YouTube clip is a screen
recording of what happens.

https://x.thunkable.com/projects/5ddd6c476f31e0431e6496a3/e0da0631-915d-4843-a488-12f35e1ee00a/designer

https://youtu.be/t2C7JLlM_vY

On Thu., Nov. 12, 2020, 4:07 p.m. Jos, <notifications@github.com> wrote:

[2020-11-13 00:32] Bellacopia commented on #737
ok but now intercom is not available... I'll try again tomorrow . Thank you

[2020-11-13 00:44] realmisterfish commented on #731
Make sure to maximize the video
It doesnt show, but i am clicking the play button on both videos whenever
they freeze the entire time

On Thu., Nov. 12, 2020, 4:32 p.m. Boris Mestrovic, <mestrovic@gmail.com>
wrote:

[2020-11-13 00:57] realmisterfish commented on #731
Here's another video on a different Android phone

On Thu., Nov. 12, 2020, 4:44 p.m. Boris Mestrovic, <mestrovic@gmail.com>
wrote:

[2020-11-13 00:58] realmisterfish commented on #731
Doesnt matter which videos we insert

On Thu., Nov. 12, 2020, 4:56 p.m. Boris Mestrovic, <mestrovic@gmail.com>
wrote:

[2020-11-13 02:04] tatiang opened #740 "Improved Variable List organization"
**Is your feature request related to a problem? Please describe.**
I've always been a little confused about how variables are sorted in the Blocks tab. It seems like they might be in alphabetical order or chronological order (as created) or by type... it's never clear to me.

**Describe the solution you'd like**
I can think of a few improvements: (1) a text list that's accessible somewhere in addi

[2020-11-13 03:27] realmisterfish commented on #731
@josmas the videos do play, but notice in the screen recording i attached via youtube that if you scroll forward it will freeze. if the video ends and you try to scroll back, it will freeze. if the video ends and you try to play it again, it will freeze.

[2020-11-13 04:13] tatiang commented on #736
It does work for numbers but you have to put a math block in for the search term. If you simply type in a number such as 15, it will be the string "15" by default.

<img width="704" alt="Screen Shot 2020-11-12 at 8 12 39 PM" src="https://user-images.githubusercontent.com/10355498/99027985-7ad82200-2523-11eb-8fa7-19f0d0c08603.png">

[2020-11-13 09:37] Bellacopia commented on #737
Please, may you confirm that Intercom is not yet available? Or is my browser having problems? Thank you

[2020-11-13 11:48] cesomaggio opened #741 "All my webapps are down. Thunkable Outage? Status page available?"
Tunkable user caminostudio.

Thunkable X is a amazing platform. I am using Thunkable to create webapps (4 at the moment). These webapps have permanent users. Since yesterday (16h ago) all my apps aren't working. Outhers Thunkable users are reporting the same. PLEASE, give me some feedback to help me restore my websapps or say something to my users. Users of my webapps are complaining a lot.

I nee

[2020-11-13 12:11] MrMazzone commented on #741
My web apps seem to be up and working fine.

[2020-11-13 13:00] josmas commented on #741
Hi @cesomaggio we are not seeing any outages on our side. A status page would be good to have, I'll add it as an enhancement for future consideration. Thanks!

[2020-11-13 13:05] amblemind commented on #741
https://community.thunkable.com/t/thunkable-outage-any-system-changes-in-the-past-6-hours

@josmas Something is up. My app was working fine yesterday morning and then was not functional when I returned yesterday evening. Trying to isolate now.

[2020-11-13 13:15] josmas commented on #741
We are testing cloud vars at the moment, it seems like that might be the issue. I'll report back once I know anything.

[2020-11-13 13:33] josmas commented on #737
hi there, it should always be available. Are you using any ad blockers or similar?

[2020-11-13 13:43] Bellacopia commented on #737
On my PC Google Chrome doesn't show Intercom. Now I have switched to MS Edge and I see it. I'll send you the link to my project and the instructions. See you there.

[2020-11-13 13:45] cesomaggio commented on #741
I debugged a lot. I am having problems with app variables. I inicialize in first screen, and can´t in others.

[2020-11-13 13:47] cesomaggio commented on #741
All my webapps crashed. All my users trying to kill me. :(

[2020-11-13 13:53] MrMazzone commented on #741
Just as an update.  My web apps are still fully functional.  I do not use cloud variables, FYI.

[2020-11-13 14:02] cesomaggio commented on #741
I don´t use cloud variables.

[2020-11-13 14:04] josmas commented on #741
So cloud vars seem to be a bit slow, but they are working fine. We'll look into why, but they should not be making the app crash. @cesomaggio can you contact support with project details if you haven't done so yet?

[2020-11-13 14:14] weihuali0509 commented on #741
@cesomaggio do you still have active subscription?

[2020-11-13 14:26] cesomaggio commented on #741
Yes. I still have active PRO subscription. A create a demo project to show the bug. https://x.thunkable.com/projectPage/5fae92e99a39fa00114ed898.

PLEASE, roll back.

[2020-11-13 14:31] cesomaggio commented on #741
@weihuali0509 . Guys, I really love Thunkable. With Thunkable I creating amazing webapps (learning games) to me and sharing with others my games. The unique Thunkable problem is lack of reliability, tests, more stables deploys. I'm betting on Thunkable. Thanks.

[2020-11-13 14:50] amblemind commented on #741
Here is a demo of my example: https://x.thunkable.com/projectPage/5fae9567d779e30012990271

I stripped out as much as I could from the project.

On my loading screen i added a wait 5 seconds after showing JSON.
![image](https://user-images.githubusercontent.com/45864164/99084620-cf63b780-258c-11eb-8c8a-46fcfae1d829.png)
![image](https://user-images.githubusercontent.com/45864164/99084511-a8a58100-

[2020-11-13 16:21] cesomaggio commented on #741
I have a 3 hour meeting to demonstrate my game (Thunkable webapp). Any chance the system is fixed by then?

[2020-11-13 16:23] cesomaggio commented on #741
I have a meeting in 3 hours to demonstrate my game (Thunkable webapp). Any chance the system is fixed by then?

[2020-11-13 16:47] weihuali0509 commented on #741
@cesomaggio please us an email pro-support@thunkable.com with your web app id.

[2020-11-13 17:22] cesomaggio commented on #741
Thanks

[2020-11-13 17:24] josmas commented on #263
There has not been a great demand, and support for iOS is a bit spotty, so we will eventually get to it, but we need to find the time.

[2020-11-13 19:09] weihuali0509 commented on #741
@cesomaggio It should be fix by now. Can you confirm?

[2020-11-13 19:21] amblemind commented on #741
My web previews are back in action. Thanks!

What's the ETA on pushing the updates to the Thunkable Live app?

[2020-11-13 19:23] weihuali0509 commented on #741
The Android one will be out shortly, while the iOS one need to wait for approval.

@amblemind can you send me an email wei@thunkable.com?

[2020-11-13 20:40] Rebehy commented on #263
this feature would take Thunkable to the next level in my opinion. IOT mainly uses BLE, QR, WIFI and NFC. For Thunkable to be considered in many IOT UI solutions it needs more interface communication with devices.

Demand can not be guaged by new prospects that are considering then dismissing.

The nfc feature would be more than welcomed.

I for one will be forced to find alternative solutions if

[2020-11-13 21:01] cesomaggio commented on #741
Confirm! Working again. Thanks @weihuali0509!

[2020-11-14 17:45] Muaazt opened #742 "Biometric Authentication"
**Is your feature request related to a problem?**
For secure apps we require users to login or at least enter their password each time they open their app, a great way most apps do this is vi Face ID or Biometric Authentication using the phones built in methods. It would be great if this could be implemented in some way where user clicks button on screen start we can request device auth and then i

[2020-11-14 17:52] Muaazt opened #743 "BUG: Text Input Hint Text Colour"
**Platform**
Thunkable X

**Expected Behavior**
Changing the Text Input Hint Text Colour should change the hint text.

**Actual Behavior**
The hint text colour does not change it just remains grey.

[2020-11-14 17:56] Muaazt opened #744 "Get More Device Information"
**Is your feature request related to a problem?**
When a user logs in we send a http request to our server to show a login, we don't have a way of accessing any identifiable date on the device such name or model.

**Describe the solution you'd like**
Add blocks which can get the device:
-Model
-Name
-Firmware Version

**Which platform are you asking for?**
Thunkable ✕

[2020-11-14 18:14] josmas commented on #593
This is something we are working on but it is still in development. We'll let you know more when we have something built and we can test it.

[2020-11-15 09:01] AmigoDeluxe commented on #726
Just an idea, have you tried muting your web browser's tab in which Thunkable is loaded? Most (if not all) web browsers support this.

[2020-11-15 09:02] AmigoDeluxe commented on #724
Nice. Now we need a proper fix.

[2020-11-15 09:04] AmigoDeluxe commented on #715
Yeah. I noticed this as well. Bummer.

[2020-11-15 09:05] AmigoDeluxe commented on #710
Duplicate request? https://github.com/thunkable/thunkable-issues/issues/224

[2020-11-15 11:19] Oreldad commented on #739
could be an amazing feature.

[2020-11-15 11:28] Oreldad opened #745 "Custom fonts"
Hello,

I would love to have the option to add my own fonts to my project.
(otf files).

thunkable x

thank you

[2020-11-15 11:30] Muaazt commented on #745
Hey @Oreldad,

Checkout this article by the Tunkable Team Regarding Fonts: https://docs.thunkable.com/fonts

Hope this helps!
-Muaaz Teladia

[2020-11-15 11:33] Oreldad commented on #745
hey, thanks!
I am familiar with those.
I would love the option to upload my own fonts for languages other than English.

נest,

[2020-11-15 17:36] amblemind commented on #741
@weihuali0509 Any updates on iOS? I've been checking all weekend for the new version to come out.

Can you guys make a standard practice to provide a TestFlight option when critical bugs like this happen?

[2020-11-15 17:38] tatiang commented on #715
It finally happened. I accidentally deleted a component I needed.

I first intentionally deleted a component from screen #2 and then accidentally deleted a different component from screen #1 because the screens auto-switched and then looked similar enough to each other.

This is frustrating and I hope it gets fixed soon.

[2020-11-15 17:39] tatiang commented on #726
I’ll try that, thanks. Would still appreciate a sound setting in Thunkable, though.

[2020-11-16 03:37] bromanous commented on #736
Thank you so much. The value that we are searching for is entered by the user through the text property of the text input component. is there a way to convert a text block to a math block?

[2020-11-16 04:17] tatiang commented on #736
Yes. Just add zero to the string value using the addition math block.

[2020-11-16 04:29] bromanous commented on #736
Great! thank you so much!

[2020-11-16 04:29] #736 closed

[2020-11-16 07:50] kezb765 commented on #707
Hi everybody,

this is a feature I adore for a long time now. I just discovered that the sorting of my projects changed (I didn't do anything) so my most recent projects are at the top at the list. This is very nice!

Next enhancement would be to have an option to disable/hide the tutorials. In my >3 years of thunking I never used them.

[2020-11-16 10:48] AmigoDeluxe commented on #577
Hey @athornock84037. I was about to create another (similar?) feature request but came across your's so I would like to make sure I have in mind what you describe above. So I was thinking to request using JSON as a Data Source which can be used with the Grid and List Data Viewers. The JSON data source would be defined by a URL.  Is this basically what you mean as well?

[2020-11-16 14:02] josmas commented on #707
We fixed the sorting last week and we have a chage in testing to collapse the tutorials.

The original request here is a bit more complex though, because the app basically shows the same list that exists on web.
We cannot `delete` projects as such, as they would also get deleted on web, so we need to figure out a way to `hide` them instead. This means we need to come up with a way to revert that h

[2020-11-16 17:59] josmas commented on #714
Have you considered using a tool like https://ngrok.com/ so you don't have to mess with your firewall and you can get both http and https while developing?

[2020-11-16 22:52] StevenPurn commented on #707
Quick question on the use case here. What is the criteria you use to determine that you want to keep the project in your account but don't want it to show in the list on the companion app? I guess I'm wondering what the logic is simply to help us figure out the best way to implement the change. I know I personally just initiate live testing via my browser 95+% of the time so I don't have a good pe

[2020-11-17 01:39] tatiang commented on #707
I find it useful to "carry around" a few demos to share with people. It's only on my single device but it's nice to whip out my phone and say -- "hey, here are a couple of apps I'm working on." I realize I could do that by publishing as web apps but there are differences and Thunkable Live is useful apart from web apps.

Mainly, though, I tend to save multiple versions of each project as I work. S

[2020-11-17 10:15] kezb765 commented on #1
I would like to have some enhancements to the good old "list viewer". I worked with the new "data viewer list/grid" in combination with "local data sources" for several months now and got many new grey hairs. Sorry for that, but in some apps a slightly enhanced list viewer could be sufficient.

Here are my two (!) wishes for an update of the list viewer component:
- styling options for background-

[2020-11-17 11:39] Bellacopia commented on #737
Hi Josmas,
Last Friday I sent you my project link with the instructions to reproduce the malfunctions, but I have not received any response. I am stuck and can't work on my project because of a stupid list that crashes. Please can you check Intercom and look at my project. Thanks

[2020-11-17 13:18] josmas commented on #737
Hi @Bellacopia I could not find your intercom message. Are you using a different user?

[2020-11-17 13:27] Bellacopia commented on #737
No, the account is the same. I'll send you again. Done

[2020-11-17 13:31] Bellacopia commented on #737
Do you find it?

[2020-11-17 13:32] Bellacopia commented on #737
Now Goutham in online

[2020-11-17 14:03] josmas commented on #737
Thanks @Bellacopia I've just sent him a message to assign your query to me.

[2020-11-17 17:42] realmisterfish commented on #731
I feel like I'm out of options with Thunkable with this issue

[2020-11-17 22:30] aiasp opened #746 "Null Variables from one screen to others"
Hello since 48 hours all App variables values are not passed to other screens.

It happens on mobile versions. Not in web app and not I preview. Only in mobile Thunkable app.

It's happening also in apps that are working since September. Another user reported this problem too. I think it's a bug !

my user is info@aiasp.org

thanks for your help and your answers

Guido

[2020-11-17 22:34] aiasp commented on #746
I've tried to use iPhone 11 and iPad but nothing . Null variable passed from one screen to one other.

[2020-11-17 22:39] josmas commented on #746
Hi there, this is a current known bug; it has fixed in all platforms but we are waiting for Apple to approve the live test app. As soon as they do, this should work again in the released version. Thanks!

[2020-11-17 22:51] aiasp commented on #746
Thanks to u for quick answer!

Inviato da iPhone

[2020-11-17 23:17] tatiang commented on #746
Also mentioned in this forum thread: https://community.thunkable.com/t/global-variable-values-issues/980900/25

[2020-11-18 20:58] #702 closed

[2020-11-18 21:04] kezb765 commented on #745
Hi @Oreldad , did you try unicode? There are thousands of special characters, I am pretty sure that your language will be covered by unicode characters. For a starting point look here: https://en.wikipedia.org/wiki/List_of_Unicode_characters

[2020-11-19 01:10] realmisterfish commented on #731
@josmas, Dom was able to replicate the issue...
Any word on this?

[2020-11-19 07:30] #485 closed

[2020-11-19 20:01] tatiang opened #747 "Selecting same data source from Create Row block detaches field blocks"
### Platform
Thunkable X

### Issue/Request Origin
n/a

### Steps to Reproduce
(See video link below)
1. Drag in a Create Row block from Data Sources and add field blocks to it.
2. Click on the data source name and select the existing data source (choose the same one)
3. All of the field blocks will be disconnected from the Create Row block.

### Project Link
If you need it, let me know. It's curr

[2020-11-19 20:12] vaskarni opened #748 "Issue with copying a project with Dataviewer & Airtable"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Thunkable X (Pro)
Windows 10 Home, Firefox

### Steps to Reproduce
1. Create a project with Airtable. Setup a Dataviewer and link with Airtable. Create a List. Works fine.
2. Copy the project to a new one. Open this projec

[2020-11-19 20:36] josmas commented on #748
Hi there, this is by design, as you can make copies and send them to others and you wouldn't want to share your API keys.

There is a discussion [here](https://github.com/thunkable/thunkable-issues/issues/654) about changing this behaviour for local copies, but for now this is still the intended design.

Closing as a Duplicate of #654 please follow the conversation there.

[2020-11-19 20:36] #748 closed

[2020-11-19 20:38] vaskarni opened #749 "Datasource - create row with Airtable computed column not working"
When using Datasource/Dataviewer/Airtable - creating a row with Datasource block does not work when computed column is involved.

Ex. Items table has a 'boxName' which is computed from 'boxID'. The boxID is the rowid of the Box table which has boxName.
When using **create row** block from Datasource - it fails. But when an Airtable block : **in Airtable call create row** is used, it works as expec

[2020-11-19 21:32] josmas commented on #731
I just talked to @domhnallohanlon and he says you are streaming the videos. You cannot expect the performance to be the same, the network, especially to devices, is going to be a problem.
If you want smooth video play you have to either embed your videos or download them when the user either loads the app or wants to watch one.

[2020-11-19 22:11] aiasp opened #750 "Block desappeared"
i don't find this block after upgrading to new version.

i need this block "get value" and "update or insert block" in airtable db

can u help me please ?
thanks

<img width="306" alt="Schermata 2020-11-19 alle 17 27 33" src="https://user-images.githubusercontent.com/66922345/99730260-6d3f1100-2abc-11eb-9f7c-89c2c57ef50a.png">

[2020-11-19 22:14] realmisterfish commented on #731
Of course we're streaming videos... this entire app is video based. We
can't have the user download videos that range from 50mb to 500mb.
My network is 300mbit/s, it's not a network issue, nor is it a device
issue... it's an issue with Thunkable's video element.
Why would streaming a video on an app be a problem, it's 2020 and we're on
4G or high speed WiFi.
If we embed the videos (which we tried)

[2020-11-19 22:21] vaskarni commented on #654
I am making a copy in my own workspace for my use. I am not worried about my API key/ Base ID of Airtable being compromised because it is a 'private' project. After I had a project working I wanted to make a copy to try out a new feature and not risk messing up a working version.

Would you please consider allowing a copy but maybe wipe out the API key/ Base ID?

[2020-11-19 22:38] vaskarni opened #751 "Left Navigation Bar is messed up (firefox)"
The left navigation panel where you click on objects is overlapping with other items on Firefox browser. Image attached.
It works fine in Chrome browser. Second image attached. This happens consistently, so forced to use Chrome.

### Platform
Thunkable X
Windows 10 Home
Firefox 82.0.3 (64-bit)
Chrome Version 86.0.4240.198 (Official Build) (64-bit)

### Steps to Reproduce
1. Open Thunkable with Fir

[2020-11-20 01:59] tatiang commented on #750
Do you have a "Data Sources" drawer? Have you added an Airtable component?

[2020-11-20 02:04] tatiang commented on #749
Are your functions inside of loops?

What happens if you assign values to boxName and itemURL?

[2020-11-20 14:32] josmas commented on #731
Streaming is a very complicated field, not only on the front, be it an app or a website, but also on the server side. If you think about services like YouTube or Netflix or Twitch, those companies have teams of hundreds of people working on that very problem.
We do not provide any server optimizations so you are not going to get the performance you seem to expect if you try to stream a 500MB video

[2020-11-20 17:10] realmisterfish commented on #731
This same issue occurs with videos <50mb.... it's not a file size issue. I was stating -some- files could be large which is why I don't want the user to have to download them and Thunkable's limit is 1gb

[2020-11-20 17:11] realmisterfish commented on #731
Also this response makes no sense given there are 1000s of workout apps all over iOS and Android that are video based. These apps aren't run by Netflix, YouTube or Twitch

[2020-11-20 17:32] realmisterfish commented on #731
Just to reiterate what I mentioned to Dom so hopefully others see...

For all intents and purposes I'm making a workout app. Thunkable is basically saying I can't have a workout app because streaming videos is so complicated.

- Embedding a video works, the video just cant be rotated or maximized
- The WEB PREVIEW works...
- I'm streaming off reputable websites that were developed for video stream

[2020-11-20 18:20] vaskarni commented on #749
It is not inside loops.
When I assign boxName and itemURL, the row is not created in the table. No error message.

[2020-11-20 18:22] vaskarni commented on #749
In the second case (Airtable block) when I assign the boxName it gives an error message - cannot insert because boxName is computed value. When I take it out it (as shown in image) it works. The table row is created correctly with boxName automatically populated.

[2020-11-20 18:36] tatiang commented on #749
It should work to add a row ID that was already generated into a text field in a local data source. Row IDs are just text strings.

Can you post a screenshot of the error you're seeing?

And also the RowID value you're getting (e.g. displayed in a label)? Are you initializing the RowID variable with a value or is it just blank?

[2020-11-20 22:06] LuEllaBella opened #752 "Automatically scroll/start at bottom of column"
**Is your feature request related to a problem? Please describe.**
I’m not sure if I missed it, but I can't figure out how to have the the column start at the most recent message on the bottom of the column, so you don’t have to scroll down to the most recent message

**Describe the solution you'd like**
A block to insert, for example, in When Screen Starts - Scroll to bottom of Column 1.

**Descr

[2020-11-21 17:23] vaskarni commented on #749
Your comment: It should work to add a row ID that was already generated into a text field in a local data source. Row IDs are just text strings.
Response: Not sure what you mean. The rowid is a text string generated by Airtable when a row is created : in this case I am using the rowid of the Box record(parent) and using it as "boxId" field in Items table (child) to establish the link with the pare

[2020-11-22 14:15] kezb765 commented on #707
Hi all,

big thanks to the Thunkable team: in live companion 243-05 (iOS and Android) the "Tutorials" section is now collapsed, and the "Projects" section sorts the most recently used to the top. Fabulous!

[2020-11-22 17:27] tatiang commented on #707
This is SO much better! Thank you, Thunkable staff!

[2020-11-22 18:13] weihuali0509 commented on #707
kudos to @josmas !

[2020-11-24 17:18] DrTedGit commented on #740
Agreed. The chronological order is fine for small apps built in one session. For apps built and maintained over months and years, chronological order is a real challenge

[2020-11-26 16:59] realmisterfish commented on #731
Anyone...?

[2020-11-27 09:14] JonesyLeo commented on #272
I'm struggling with the same problem.
I'm waiting for the exposition of the properties (as margin, padding, border, etc...) in order to managing them with blocks.

[2020-11-27 13:00] Oreldad commented on #745
The language is covers , but not in a nice to watch kind of way. I would prefer to have the option to add my unique own fonts if possible.

[2020-11-27 13:24] ranvijaythedeveloper opened #753 "command failed"
### Platform
Is this for Classic, Classic companion, ✕, ✕ Android companion, or ✕ iOS companion?
classic
### Issue/Request Origin
Today I was working on my new app but when I pressed download android app it worked fine for a moment and then it showed me an error message "Command failed: $ANDROID_HOME/build-tools/29.0.3/aapt package -f --no-crunch -I $ANDROID_HOME/platforms/android-29/android.jar -

[2020-11-27 13:26] ranvijaythedeveloper commented on #753
what shall I do

[2020-11-27 13:44] #753 closed

[2020-11-28 08:17] kushadapt opened #754 "Critical ERROR while updating property ‘fontSize’ in shadow node of type:RCTTextat"
### Platform
Thunkable X on Android Only. I have teste with IOS and webview is working

Tested with :

Huawei Honor X9 Build 9.1.0.210(C432E2R1P5patch03)
EMUI 9.1.0
Node version 4.9.148

Huawei p20Lite0
Build 9.1.0.355(C109E6R1P3)
EMUI 9.1.0
Node version 4.9.148

### Issue/Request Origin
Changing the font size, or changing the alignment of a column, row or object with Data viewer LIST and google s

[2020-11-28 12:47] GMShack11 opened #755 "I wanted to ask for downloading the android or ios app in the thunkable live testing app"
I wanted kindly ask for a feature for downloading the android or ios app with the thunkable live testing app in our devices without opening it on a laptop or desktop and then building it

Thank you

[2020-11-28 13:58] DrTedGit opened #756 "SecureTextEntry does not hide value of text_input component"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Thunkable X Web App and Web Live Test

### Issue/Request Origin
Community https://community.thunkable.com/t/solved-hide-password-in-thunkable/61319/17

### Steps to Reproduce
1. Create a screen
2. Add a text_input
3.Change

[2020-11-29 05:43] GMShack11 commented on #756
Even I get it, I live tested in my sign-in screen and it showed the password

[2020-11-29 07:16] GMShack11 opened #757 "Can't scroll in the blocks sectiom"
I can't scroll in the blocks section on any of my apps,
I can only Drag the scrollbar to scroll,
[code]

[2020-11-29 11:07] BoBKoF opened #758 "From Airtable Set Base Id block doesn't work"
I tried a lot of time, i tried to delay with timer but nothig.

The block doesn't change the Base Id, only if i put it manually with a textbox

[2020-12-01 05:39] tatiang commented on #701
You can see an example of this problem in the post below where I included two links to two different projects. They appear almost identical which is not ideal.

https://community.thunkable.com/t/get-gmail-from-paragraph/1010508/2

[2020-12-01 18:46] danibarzo opened #759 "Notification service extention for IOS Push Notifications"
The notification service extention setup is required from IOS platform in order you can show an image when using Push Notifications feature

Would be nice if thunkable can have a procedure to setup the notification service extention without using a Mac with a new version of Xcode which is a requirement now. Just as the procedure Thunkable already have to publish IOS APPs (using only a Windows PC)

[2020-12-01 18:56] tatiang opened #760 "Changing Canvas label text crashes the project"
### Platform
Thunkable X

### Issue/Request Origin
I posted about this here: https://community.thunkable.com/t/cant-change-label-value-in-canvas/1012623

### Steps to Reproduce
1. Add a canvas label to a canvas/stage.
2. Add a “from canvas_label set text to” block to a "When screen opens" block.
3. Live Test in Chrome on a Mac
4. I just see a blank/white screen.
5. If I remove that block and live

[2020-12-01 18:58] tatiang commented on #760
Sorry! Just realized that I need a When Canvas loads block.

[2020-12-01 18:58] #760 closed

[2020-12-02 01:40] tatiang opened #761 "Change sprite label text; access canvas label x,y coordinates; access Any Component blocks"
**Is your feature request related to a problem? Please describe.**
I know I'm throwing in a bunch of somewhat related requests here but here goes...

**Describe the solution you'd like**
It seems to me that in the Canvas tab, there should just be one type of component instead of some components being "sprites" and some being "labels." Because I really want to be able to set the text for a sprite d

[2020-12-02 02:07] MrMazzone commented on #759
Is this with OneSignal?  I did notice that iOS users cannot receive the image in the notification.  Is that what you are referring to?

[2020-12-02 02:15] danibarzo commented on #759
With OneSignal and Yes, that is exactly what i am talking about @MrMazzone.

[2020-12-02 02:23] danibarzo commented on #759
According with OneSignal support guys not seeing the Images on iOS notifications generally happens when the Notification Service Extension for your app is not setup, or is not set up correctly. I don't understand how to setup but this is the guide that OneSignal has: https://documentation.onesignal.com/docs/ios-sdk-setup. And one requirement is A Mac with a new version of Xcode.

[2020-12-02 02:28] MrMazzone commented on #759
@danibarzo interesting.  Yes, I would love this fixed too!

[2020-12-02 02:48] tatiang commented on #724
We really need a fix for this. It would be great to know what the timeline is for a resolution.

It's hard to trust your own coding when the screen opens twice instead of once. It can create all sorts of unpredictable variable and conditional states within a project.

[2020-12-02 16:34] arisfadillahh opened #762 "add filter for data grid or data list viewer"
I try to make social media app on thunkable. and i stuck on comment function.
I need filter from data list viewer for show comment when user click some status/content.
Because if not using filter all comment from all status/content will show. So, i need filter for show comment according to the status/content.

thank you !

[2020-12-02 17:16] alsanchez-dev commented on #633
@josmas I understand, So I'm using a Thunkable PRO account and building a radio application using the video component to stream a URL, is this video component appropriate then to develop the mobile application and this is thinking towards store submission and approval, would it make sense to have a separate video component and call it radio component? which then could be used to develop the featur

[2020-12-02 18:02] alsanchez-dev commented on #690
@josmas @tatiang Comment block is a really good idea. Especially for more complex applications it totally makes sense and would help the entire community making it easier to understand each other's applications etc

[2020-12-04 13:15] kushadapt commented on #754
Update 04/12/2020 :
I have added the information of the phones with which I got the error.

[2020-12-04 14:17] fedegarcia30 opened #763 "Camera will not stream on Webapp"
### Platform => X

### Issue/Request Origin
Comminity

### Steps to Reproduce
1. Create a simple app to take a picture
2. Publish the app as mobile webapp
3. Use the webapp (android or iOs) there will be no stream of the camera so you dont know if you are pointing correctly the objetc you want to take the photo to.

### Project Link
https://x.thunkable.com/copy/51b4a0f690db0323d84b44600daf801c

##

[2020-12-04 17:00] amblemind commented on #130
@josmas This works wonderfully form me. Thanks!
https://youtu.be/7LO80MCvYCM?t=430

[2020-12-04 17:33] #130 closed

[2020-12-04 19:55] migo4Huuub opened #764 "Suddenly app hangs when reading airtable linked fields"
### Platform
Thunkable X

### Issue/Request Origin
In my App I store all the used data in airtable tables. Concrete example: The main-table is the “tb.ITteam”. In this table I have a couple of usual fields like firstname, lastname, shortcut, etc. And I have some linked fields like function and group. Function is linked to table “tb.function”, group is linked to table “tb.group”. I use this method

[2020-12-05 09:33] tatiang opened #765 "Sounds plays without previewing project & does not stop when closing preview"
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
1. Open https://x.thunkable.com/copy/4d20e68a037d7f0bc5312410ad9e389d, change "stop" block to "play."
2. Song will begin playing immediately.
3. Change "play" block to "stop."
4. Click Live Test.
5. Close preview.
6. The song now stops because of the "stop" block. But previewing a song that is playing and then closing the p

[2020-12-05 09:41] tatiang opened #766 "Missing support for Sound play by url"
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
1. Paste an mp3 url into a text block attached to the play block
2. Preview the project
3. There is no sound being played.

### Project Link
https://x.thunkable.com/copy/12ea6bb97480131c9ae2bc06e93c045a

### Expected Behavior
I thought I'd hear something.

### Actual Behavior
See above.
[code]
<img width="543" alt="Screen S

[2020-12-05 14:33] MrMazzone commented on #766
I am able to play sound by URL with your URL using the Sound component.  How did you get that ```play``` method block?
![image](https://user-images.githubusercontent.com/40954645/101245705-a2fb1100-36dc-11eb-8682-9be350db8089.png)

I opened your example project and have no idea what that ```play``` block is.

My example worked on Android and iOS.  It did not work in Live Test on web, but did as a

[2020-12-08 16:06] amblemind opened #767 "Feature Request: Allow a Single App to be Visible, Edited, Tested, Owned, etc. by Entire Team/Organization"
**Is your feature request related to a problem? Please describe.**
It is difficult to work on projects with other people (ie. clients & friends). We have to [share the projects back and forth](https://youtu.be/zG4CWH2HHww) which removes API keys. And [there is not an easy way to send an app to a client to test](https://youtu.be/tqbD6oAnews).

**Describe the solution you'd like**
I would like a mec

[2020-12-10 02:22] tatiang commented on #766
Thanks for testing this. The play block I used shows up with the new invisible components setting, I believe. But I can right-click and choose Show Advanced and see the same block you used but it still doesn't play sound. I'll try it in Thunkable Live.

[2020-12-10 03:03] MrMazzone commented on #766
There is definitely an issue with sound on live test web preview.  @josmas Can the team look into Sound component not functioning in web live preview?

[2020-12-10 06:57] tatiang opened #768 "Thunkable Live takes 45 seconds to load"
### Platform
Thunkable Live on iPhone

### Issue/Request Origin
Is it normal for the Thunkable Live app to take 45 seconds to load?

### Steps to Reproduce
1. Open Thunkable Live
2. Wait 45 seconds
3. Preview a project

### Project Link
Any/All

### Expected Behavior
I'm surprised it takes this long and wondering if that's expected behavior or not. Is it possible I have too many cached projects in

[2020-12-10 07:34] tatiang opened #769 "Is it possible to add an image to a button in a drag-and-drop project?"
### Platform
Thunkable X

### Issue/Request Origin
I can't import a jpg or png into a button component without getting an error message. If I import the same file(s) into an image component, they work fine.

### Steps to Reproduce
1. Drag a button component onto a screen.
2. Click in the Picture field and click Upload files.
3. Select a jpg or png and click Open.

### Project Link
https://x.thunka

[2020-12-10 11:00] DrTedGit opened #770 "Copy from My Screens Shows Invalid Date for all screens"
### Platform
Thunkable X Block Screen

### Issue/Request Origin
https://community.thunkable.com/t/my-screens-invalid-date/1031826?u=drted

### Steps to Reproduce
Adding a screen (all created before I had a PRO account)

### Project Link
https://x.thunkable.com/copy/c2cbd5b7b81255aaf80957a1f94032b0

### Expected Behavior
Some sort of date
### Actual Behavior
![image](https://user-images.githubuserc

[2020-12-10 17:29] tatiang commented on #770
Yep, this just started happening for me. I've been Pro for a while. When I publish a project as a web app it now tells me "last published on invalid date."

[2020-12-10 19:12] nickmort commented on #733
I have had a similar issue too. Is this one close to being resolved, or is it worth creating a workaround?

[2020-12-11 20:12] kushadapt opened #771 "Why are the borders displayed when the Label is invisible?"
### Platform
Android companion

### Issue/Request Origin
I have make test

### Steps to Reproduce
1.Set background color of screen in Black
2. Create Label
3.Set Border with to 1 or 5 set color to white
4.Set the label invisibler and u showing a white point or a square
[code]

[2020-12-11 20:15] kushadapt commented on #754
Tested with Android im not sure, but in IOS There is no problem.
to check

Tested:

Button
Label
TextInput
ListViewer
Switch
Slider
Loading icon
Rating
Row
Column
Rating icon
Column
:x:AlignItems Error while updating property’AlignItems’ in shadow node of type:RCTview at
:x:JustifyContent Error while updating property’JustifyContent’ in shadow node of type:RCTview at
The rest works

Row
:x:AlignIt

[2020-12-12 18:15] tatiang opened #772 "Ability to set background picture opacity level"
**Is your feature request related to a problem? Please describe.**
When I import a background picture image file for a screen, I'd like to be able to set the opacity level (transparency) of the image.

**Describe the solution you'd like**
See the screenshots below for an mockup.

**Describe alternatives you've considered**
I currently import the image file into an image editing app (Illustrator or

[2020-12-12 21:43] tatiang opened #773 "Duplicating a button does not retain its font style & weight"
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
1. Create a label. Set its font style to Italic and its font weight to Bold.
2. Duplicate the label.
3. The duplicate (copy) will not have Italic or Bold text.

### Project Link

### Expected Behavior
Copied components should retain the properties of the original component.

### Actual Behavior
See screenshot below (origina

[2020-12-12 22:10] tatiang opened #774 "Sound does not stop when exiting Thunkable Live preview"
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
1. Open a project on the Thunkable Live app on an iPhone 11
2. Play a sound
3. Press the "Back" button to exit the project preview.
4. The sound keeps playing until I force-quit the Thunkable Live app.

### Project Link

### Expected Behavior
The sound should stop.

### Actual Behavior
It doesn't.
[code]

[2020-12-13 00:42] tatiang opened #775 "Allow duplicate component names in different screens"
**Is your feature request related to a problem? Please describe.**
Currently, if I try to name a component (e.g. a label) a name that I've used for a component in another screen within the same project, it won't save the new name. It just reverts back to the original name.

**Describe the solution you'd like**
Allow duplicate component names if the components are on different screens. And if, for

[2020-12-13 07:02] tatiang commented on #715
Bumping this because it's still a problem. Now that I'm developing an app with many screens, it's even more of an issue that whenever I delete a component, I'm taken to the first screen and have to navigate back to wherever I was and try to remember what I was in the middle of doing.

[2020-12-13 22:58] tatiang opened #776 "List of screens should expand on larger displays"
**Is your feature request related to a problem? Please describe.**
The list of screens in a project on the Design or Blocks tabs is limited to four screens. See the screenshot below for the current limitation.

**Describe the solution you'd like**
With a larger browser window, the list of screens should fill the available space so that more than four screen names can be shown.

**Describe alternat

[2020-12-14 16:51] StevenPurn commented on #715
Sorry about that! I thought another member of our team had worked on and resolved this issue previously. I'm not sure what happened but it seems like the fix didn't get in. I'll make it a priority to get this fixed this week. Though important to note, that doesn't mean it will get released this week. I'll post back here once I have an update.

[2020-12-14 20:28] AmigoDeluxe commented on #577
This is a very useful feature. Being able to use JSON or objects stored in local variables as the source for Data Viewers would be amazing and give no more reasons for anyone to use the List Viewer. @josmas do you think this would be hard to implement?

Thanks

[2020-12-14 20:47] tatiang commented on #715
Thanks for the update, @StevenPurn! I'm glad it's getting looked at.

[2020-12-16 00:45] tatiang commented on #768
I uninstalled the Thunkable Live app, choosing to delete all data, and then re-installed it from the App Store. But it's still really slow to open each time. I think it's still due to the 100+ projects listed on the main screen.

[2020-12-16 16:34] DrTedGit opened #777 "Realtime DB Listener not updating text input , but does play sounds."
### Platform
Thunkable X

### Issue/Request Origin
I’m having issues with the realtimeDB Listener DataChanged event. I belive the new Cloud variable change is intended to replace the RealtimeDB Listener. But I have a number of apps using the listeners AND you cannot use the Cloud change blocks to listen to sub-nodes within the Firebase tree (critically important for mulitple user apps).

### Steps

[2020-12-16 19:07] tatiang opened #778 "Button font size changes vertical alignment"
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
Not a deal-breaker but just an annoyance. I'll add a plug for my hope that Thunkable joins the label and button components into a single all-powerful component.

1. Add a button to a screen.
2. Change the font size from the default to something smaller (e.g. 10) or larger (e.g. 30) -- it doesn't happen with all font sizes,

[2020-12-16 19:23] pmwthunkable commented on #777
Thanks for the writing up the issue.

1) We're aware of the issue of the ui component not changing. It's complicated to fix so it'll take a while.

What's happening is that the screen is loading twice (it shouldn't be...), and when the text changes its trying to set the text on the deactivated screen (not the activated one the user can see). We're trying to figure out how to stop the screen from l

[2020-12-16 19:26] DrTedGit commented on #777
FYI, on a related note, the events are firing during design time even when I don't have a live test open.

[2020-12-16 19:43] DrTedGit commented on #777
One last question , how long is "a while"? Is that DAYS, WEEKS, or MONTHS?

I just want to plan accordingly

[2020-12-16 20:02] jaredgibb commented on #696
Hey @josmas, I’m wondering if there have been any updates or progress made with this issue?

[2020-12-16 22:45] StevenPurn commented on #715
Just wanted to follow up on this. We have a fix for this ready to go. I think we have a release going out today so I'm not sure if it will make it in time to go out today but, if not, it should be included in the next release we put out. Sorry it ended up taking so long! Thanks for making sure we got to it eventually.

I'm going to leave this open until we've confirmed the fix is released and work

[2020-12-17 01:03] camtez commented on #724
I'm having the same issue with my downloaded apps, sometimes the first screen loads three times, which is a really embarrassing glitch for any new user. It also seems to be crashing my app in other ways (as none of this happens in the Live app).

[2020-12-17 03:47] Irwin2004 opened #779 "Status bar bug"
### Platform
Thunkable Live version 248

### Issue/Request Origin
![image](https://user-images.githubusercontent.com/73010436/102440946-2cef9600-405c-11eb-8a6a-66377180ec8d.png)
I've change my status bar into white color (before dark blue).

![Screenshot_20201217-113845_1_1](https://user-images.githubusercontent.com/73010436/102441372-17c73700-405d-11eb-8fb0-8010676def6f.jpg)
When I download the a

[2020-12-17 04:24] camtez commented on #764
I'm also experiencing the same issue! Pretty sure this is affecting the getCell block only for me and only on downloaded apps. This is killing me!

[2020-12-17 04:26] camtez commented on #729
Thunkable, would love your input on this. I have run into too many bugs to count. How you think anyone could publish an acceptably functioning app on an App Store with your platform is beyond me.

[2020-12-17 04:29] MuhammadMansuri opened #780 "StatusBar issues"
Hey,
   Many of the user is facing this issue. I think it is bug please solved it.
https://community.thunkable.com/t/statusbar-style/1037033?u=aaminahmansuri59h
Thanks.

[2020-12-17 04:30] MuhammadMansuri commented on #780
Please solved this issue as soon as possible.

[2020-12-17 05:44] realmisterfish commented on #729
Posting so other people know that emailing support doesn't get you anywhere either. It's been nearly a year now and I regret choosing Thunkable for this project. Unfortunate because they have a ton of potential as a platform

[2020-12-17 07:14] migo4Huuub commented on #764
Unfortunately there is still no solution on this issue. I also contacted airtable-support, but they requested me to talk to thunkable support. Meanwhile I got some answers from thunkable-support, but all are like "we will look into this" and "please try it now again, we changed something". As a workaround I meanwhile cleared the values in all linked fields, which is working, but of course, annoyin

[2020-12-17 12:46] DrTedGit commented on #777
I tested these screens on the beta drag and drop and the events and data update correctly. Since this is something of an obscure bug for a platform that will be retired, I don't see the need to expend resources on it

Here is a link to a drag and drop project that works correctly

https://x.thunkable.com/projectPage/5fdb4b4896a39a00117b2824

[2020-12-17 14:06] pmwthunkable commented on #777
1. How did you get your project to be in the new UI (drag and drop project)?
2. Do you still see the issue in your original project?

[2020-12-17 14:26] MrMazzone commented on #764
Hmmm... This is probably the issue with my apps using Airtable.  Following and hoping for a fix.

[2020-12-18 12:25] DrTedGit commented on #777
I added them from my screens.

[2020-12-18 13:37] josmas commented on #768
hey @tatiang indeed the app takes longer to load the more projects you have. We have some ideas for optimisations, but nothing being planned yet. We started by fixing sorting in #707 and would like to schedule more improvements on the app along the lines of decoupling it `slightly` from the server (meaning, not having to load everything). Unfortunately no ETA at the moment as there are so many oth

[2020-12-18 13:47] josmas commented on #780
This is being worked on at the moment. Thanks for the report.

[2020-12-18 13:50] josmas commented on #779
Hi @Irwin2004 if you download the app and install on your device, is the bar blue or white?

[2020-12-18 13:52] josmas commented on #778
Seems reasonable. Thanks for the request @tatiang

[2020-12-18 13:54] josmas commented on #771
hi @kushadapt could you please try reattaching your image? seems like the formatting did not work. Thanks!

[2020-12-18 13:56] josmas commented on #769
this should be fixed now. Thanks @tatiang and let us know if you still having issues.

[2020-12-18 13:56] #769 closed

[2020-12-18 14:09] Irwin2004 commented on #779
Hi @josmas, thank you for your respond. The status bar is blue.

[2020-12-18 14:09] MrMazzone commented on #778
The actual issue here is that the preview doesn't update the button's size when the font size changes.  The height and width are set to ```fit content```, so will change when the text size changes to properly fit the text.  The preview does not show this change.

[2020-12-18 14:49] josmas commented on #778
Actually, yeah, I can repro that. It is just the designer that does has the alignment issues; if you live test it shows correctly.
Also it only happens in non DnD projects. Thanks for the clarification @MrMazzone

[2020-12-18 15:51] josmas commented on #779
Hi @Irwin2004 I just tried on latest build and I cannot reproduce. If I set the bar to white and the style to dark, I see a white bar with darker icons. Is there anything different or specific you are doing in your app? Note that this setting is specific for each screen.

If you can send a copy link to a project that reproduces this issue, that would be much appreciated. Note this should be the si

[2020-12-18 16:16] josmas commented on #759
hi @danibarzo and @MrMazzone thanks for the report and added info. I am not sure if this is a limitation for iOS; we do all the configuration in that link for all apps, so there should not be a need to have a mac and xcode (we do that already) but it might be possible that the step to setup images correctly can only be done on a one app at a time basis, in which case we won't be able to do it. I'l

[2020-12-18 16:58] Irwin2004 commented on #779
Hi @josmas, the problem is status bar color of tab navigator (sorry I forget to tell you that I use tab navigator). The status bar color is still blue.

If the screen (outside of tab navigator), the status bar already white. But the icons don't change to dark. This problem happens to my splash screen too.

[2020-12-18 17:01] josmas commented on #776
Thanks for the request @tatiang
We could use that space a bit better, even in the new design. We'll look into it. Thanks!

[2020-12-18 18:31] josmas commented on #779
Hi there, can you clarify if this is one issue or two?

Outside of a navigator, does it work as you expect or is there an issue with icons not showing?  If you have a white background you should choose the dark style.

Within the navigator, I can see that the color seems to be reset. So this is problem number 1, but please clarify if there is a problem number 2 with the bar style. Thanks!

[2020-12-18 18:40] josmas commented on #765
This has been currently fixed and merged; it might not be out till after the break though. Thanks for the report!

[2020-12-18 21:34] StevenPurn commented on #715
Looks like it was included in our release so I think this should be fixed now. Please test it out and report back if you're still seeing any issues. I'm going to close this now but we can reopen if there are any more reports of issues.

[2020-12-18 21:34] #715 closed

[2020-12-19 01:11] Irwin2004 commented on #779
Hi @josmas, actually there was 2 issue, but the first issue already fix (outside of tab navigator). The second issue is the status of the tab navigator.

[2020-12-19 01:17] josmas commented on #779
alright, thanks for the update. We'll look into the navigator issue. Thanks!

[2020-12-19 04:01] Irwin2004 opened #781 "Insert links"
How to use links that insert using airtable and can be clik in Thunkable Live using custom data viewer, then it will navigate to google chrome.

[2020-12-21 05:12] tatiang opened #782 "Variable names now contain the word "variable""
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
1. Create an app variable.
2. The name of the variable in the Variables drawer and Blocks tab includes the word "variable" which is unnecessary and makes the variable names too long.

### Project Link

### Expected Behavior

### Actual Behavior
[code]
<img width="377" alt="Screen Shot 2020-12-20 at 9 09 54 PM" src="https://

[2020-12-21 05:19] muhammedjailam opened #783 "Thunkable Live App doesnt load data from Google Spreadsheet in the Data List View"
After adding Google Spreadsheet as a Data Source, and mapping the columns to the fields in the Data List View Thumbnail - The preview on the Thunkable web view works. But when trying to Live Test via the Thunkable Live App (for Android and on iOS) the data list view show real data. But shows placeholders for the data in each row.

Then when we try to pull to refresh - the loading keeps loading for

[2020-12-21 12:53] josmas commented on #782
Thanks for the report @tatiang
Not sure if this change was intended. @pmwthunkable any insight on this? cc/ @JanhaviDahihande

[2020-12-21 12:54] josmas commented on #781
Please ask for programming help in the [community forum](community.thunkable.com/). Thanks!

[2020-12-21 12:54] #781 closed

[2020-12-21 13:03] josmas commented on #783
hi @muhammedjailam is this the original app with the data source or a copy you have made of your own app?

Note that when you make copies, all data is replaced by placeholder data. This is so the app keeps working, but if you share your copy link with others (as you did in this report) your credentials are not exposed.

If that is the case, please see a discussion about this behaviour in this othe

[2020-12-21 13:06] josmas commented on #774
closing this as a
Duplicate of #765

[2020-12-21 13:06] #774 closed

[2020-12-21 13:08] josmas commented on #764
All, is this still an issue?
cc/ @StevenPurn

[2020-12-21 13:18] muhammedjailam commented on #783
@josmas Thank you for your response.

This is my original project. I have used the same method to do a similar project just 2 days back, Then it worked like a charm. But after trying last night I found that the data was not loading on the app now.

I would recommend if you try on your side and see if its working

[2020-12-21 13:25] josmas commented on #766
hey @tatiang and @MrMazzone ; yeah, it seems like the new block only allows uploads; even trying to set the source as a text is a bit tricky.
One thing to try is that I believe the link should be `https` an not `http` but I don't think it is making a difference here.

Hey @pmwthunkable @JanhaviDahihande was this change intended? Do we need to change the docs or the new (and fix the old) block?

[2020-12-21 13:27] migo4Huuub commented on #764
Yes, it is. If I can assist with any troubleshooting attempts, I'd be happy to do so!

[2020-12-21 13:41] cesomaggio opened #784 "Device Screen Width Block not working on Live Test"
### Platform
✕ Live Test

### Issue/Request Origin
I´m Thunkable user "caminostudio". I used the Device Screen Width Block to create a responsive animation in my web app. It was working, but not anymore on Live Test. Then, I can´t test a new version of the animation.

### Steps to Reproduce
1. Access demo project Demo bug Device Screen Width (https://x.thunkable.com/projectPage/5fdd110bacd84100115

[2020-12-21 14:24] cesomaggio opened #785 "Label disappears when the label width is set to Fill container"
Label disappears when the label width is set to Fill container.

### Platform
X

### Issue/Request Origin
I´m Thunkable user "caminostudio". I am creating a web app. I need to align the margin of the label with the margin of a ListViewer (30px for both). I am using the label width set to “Fill container” and 30px margin. But the label disappears when the label width is set to Fill container. I tri

[2020-12-21 14:54] josmas commented on #783
Hi there, I do not see the placeholder data; but the app does not finish loading all the data either...

@StevenPurn any idea what might be going on? There were some fixes for this last week, but I am not sure if this has been deployed yet.

[2020-12-21 14:56] josmas commented on #784
Thanks for the report @cesomaggio

@TingC any idea as to what might be going on? I can reproduce with the included project. Thanks!

[2020-12-21 15:00] josmas commented on #785
Thanks for the report @cesomaggio

@TingC do you think this is related to the issue in #784 (Screen sizes)

[2020-12-21 15:43] muhammedjailam commented on #783
@josmas yes. I think my explanation might have had been a bit confusing. Deeply appreciate you looking into the matter.
Would appreciate if the issue is fixed earliest.

[2020-12-21 15:47] pmwthunkable commented on #766
Sounds from urls should work with the play block. Does this project not work for you? https://x.thunkable.com/projects/5fda64aa34b65c0011efe289/dde541e3-ceeb-4cf2-b86f-83d7d56c44eb/designer

[2020-12-21 16:00] cesomaggio commented on #785
glad I can help. Thanks!

[2020-12-21 16:17] josmas commented on #779
hey @Irwin2004 can you try something for me? I found that if I set the colour for all of the tabs in the navigator to white, then they do stay white. Could you try that? It seems like the last one will override the values for the other ones. If you could please confirm that is what you see; thanks!

[2020-12-21 16:37] tatiang commented on #782
I really hope this wasn't intentional. I had suggested [here](https://github.com/thunkable/thunkable-issues/issues/740) that variables names were _already_ too long. Really hoping a future update will shorten them to make for easier readability and greater efficiency.

[2020-12-21 16:38] tatiang commented on #740
I also think a lot can be done with color differences, icons, etc. to differentiate between variable types without using text ("app", "stored", "cloud" right within the block name).

[2020-12-21 16:57] josmas commented on #766
Hey @pmwthunkable so your project works for me, but the original one does not, even if I use the expanded block to catch the error:

![sound_not_playing](https://user-images.githubusercontent.com/194925/102801382-11aebe80-43ad-11eb-9389-ce5655358510.png)

A number of things here, one is that the file is 14 minutes long, which will take a while to load. Another one is if we allow `http` resources f

[2020-12-21 17:15] tatiang opened #786 "Getting substring from current year crashes project"
### Platform
Thunkable X, legacy interface

### Issue/Request Origin
I mentioned it here: https://community.thunkable.com/t/cant-get-substring-of-current-year/1040701

### Steps to Reproduce
1. Create the blocks in either screenshot below
2. Click Live Test button to preview in browser
3. (Blank white screen appears)

### Project Link
https://x.thunkable.com/projects/5fdee9f8fe45820012bdda19/ddf20

[2020-12-21 17:29] StevenPurn commented on #764
Thanks for tagging me. I hadn't seen this before now but I'll be sure to take a look. I'll report back once I have an idea as to what is going on.

[2020-12-21 17:30] StevenPurn commented on #783
No, this is the first I've heard of this. I'll take a look though.

[2020-12-21 17:46] domhnallohanlon commented on #786
@tatiang - just followed up on your Community posts with explanation/work-around.

https://community.thunkable.com/t/cant-get-substring-of-current-year/1040701/2?u=domhnallohanlon

Let us know whether or now that works for you!

[2020-12-21 20:25] tatiang commented on #786
I was able to get it working by following this example:

https://community.thunkable.com/t/cant-get-substring-of-current-year/1040701/4

[2020-12-21 21:56] StevenPurn commented on #764
@migo4Huuub are you able to share your app (or a simplified version) demonstrating the issue? I tried to recreate it with a simple example pictured below but it is working for me. So to resolve, I need to determine if the issue is actually fetching the data or if it is not accepting the id you're passing in correctly. How are you storing the ids to access later? It is possible something broke and

[2020-12-22 07:22] danibarzo commented on #759
Hi Joss, currently this setup is not covered by thunkable so please help us
with a solution, you know one push notification without an image is like
nothing..

On Fri, Dec 18, 2020, 11:17 AM Jos <notifications@github.com> wrote:

[2020-12-22 10:03] migo4Huuub commented on #764
Hello Steven, of course - with pleasure! I just made a copy of my app as a debugging version that you can use for this. You just have to tell me which way I can provide it to you.

Since the app is already in use by users, I have anyway already integrated a function with which I can switch back and forth between real and test environment at the push of a button, so that I do not disturb the real o

[2020-12-22 21:18] StevenPurn commented on #783
I think we have a solution for this. We're testing it out now. It should be included in our next release though I'm unsure when that will be at this point.

[2020-12-22 21:29] StevenPurn commented on #764
It doesn't have to be the exact app you're using. If you can make a small sample app with a similar set up or block flow that exhibits the same behavior that would be great. I just need a way to recreate what is happening so I can find the root cause and get to fixing it. If you do want to share the original app, you can send a link to me at steven@thunkable.com.

[2020-12-23 07:33] sysads commented on #591
Any luck with this as I need it for Airtable rows

[2020-12-23 14:55] muhammedjailam commented on #783
Would be great if you can release if the Earliest Possible. Unable to make Google Spreadsheet apps as of now!

[2020-12-23 17:51] Oreldad opened #787 "Switch color issue"
Hello,

There's an issue with the color of the switch component.
no matter which color is chosen the color on the live preview and the downloaded and published app stays the same (the default native green color)

would love to see this issue fixed.

[2020-12-23 19:42] ndrorian opened #788 "More math functions needed in Thunkable X"
The Thunkable math functions are very limited. MIT AI2 has 28 math functions compared to Thunkables only 15. Because of this I could not do some calculations that I need for my app

[2020-12-23 19:46] ndrorian opened #789 "Disable/Enable blocks function needed"
I miss the MIT AI2 function that lets me disable any section of blocks for testing.

[2020-12-23 19:48] ndrorian opened #790 "Backpack type feature is very much needed"
I miss the Backpack feature in MIT AI2 it is very useful.

[2020-12-23 19:51] ndrorian opened #791 "Direct texting and direct email is very much needed in Thunkable"
These features exist in MIT AI2. I have to use MIT AI2 or other tools for apps that need texting and email capability directly.

[2020-12-24 14:03] migo4Huuub commented on #764
Okay here we go :)
I prepared a small sample app which I will share to you, @StevenPurn. Additionally you will get an editor access to the "MigoBugTest" Airtable-DB, which I just created for this purpose. To all the other users, who are interested in this issue, I will try to describe here what I did and how you can reproduce the faulty behavoir.

Just as a reminder and to bring all on the same pa

[2020-12-24 20:38] tatiang opened #792 "Visual notification that project is being created or copied."
**Is your feature request related to a problem? Please describe.**
When copying a project (remixing) or creating a new project, there can be a delay of up to 20 seconds before there is any notification of the action succeeding. It can be tempting to click the Create button again which then creates multiple copies of a new project.

**Describe the solution you'd like**
When you duplicate or copy/re

[2020-12-25 20:38] jaredgibb opened #793 "Webviewer handling JSON objects received oddly"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
IOS companion

### Issue - Object blocks arent working for objects received as messages through the webveiwer on companion or downloaded apps.

I am able to receive and work with objects using the live preview in chrome on

[2020-12-26 12:18] migo4Huuub commented on #764
Short addition: I asked myself whether this behavior would change, when I access the airtable-DB via API and handle the data-exchange as JSON. But the **result is the same**. Here is the JSON-version of my test:
![grafik](https://user-images.githubusercontent.com/72560309/103151257-b69a1480-477c-11eb-8d94-965eb35934db.png)

[2020-12-27 20:16] ManuelDev1 opened #794 "Web Viewer Error Code:2"
Hello,

I developed an app with the editor that is currently available for download in the Play Store. Yesterday I wanted to update the app and see new contacts. OnePlus 7Pro, Samsung Galaxy A70, …) is an error code heard:

Error loading page
Domain: undefined
Error Code: 2
Description: SSL error: Hostname mismatch

What I’ve done so far is that I got the SSL certificate with the exact url and die

[2020-12-28 00:02] AmigoDeluxe commented on #577
Ok so it looks like this is already doable by using a local table as the data source. I am good with what we have, no need for any further actions imho.

[2020-12-28 21:26] athornock84037 commented on #577
Sort of, this is so that we can load the local tables with Json directly, rather than running through a loop. Much less processing.

[2020-12-28 21:34] athornock84037 opened #795 "Add Data at top or anywhere in Data Source, rather than just at the end."
**Is your feature request related to a problem? Please describe.**
Sort of. There's no way to sort data viewers by date/time, so the only way to do that is to delete and reload the data source.

**Describe the solution you'd like**
It would be much more efficient if we could load data at the start of the data source as well as the end, or at any index location.

**Describe alternatives you've cons

[2020-12-28 21:51] muhammedjailam commented on #783
Any updates on the issue would be highly appreciated.

[2020-12-30 22:37] wolberd opened #796 "DataSource in copied project is messed up"
I have an app with a Data Viewer List and DataSource connected to a Google Sheet.
When I make a copy of the app, and then view data in the Data Source in the properties panel, it doesn't show the data and the button to synch the data is gone as well.

[2021-01-01 02:20] towball commented on #637
Did you resolve this, I am using Thunkable to create apps and when I load a new version to the stores it updates and local storage data in the App is not showing after loading the update

[2021-01-01 14:30] cis2131 commented on #637
No. I changed my app to use firebase instead, as i could not take the chance that users would lose their data once more.

[2021-01-01 20:22] towball commented on #637
Do yo use thunkable or something else? The only problem with firebase is users need an internet connection or can it be set up so if the phone does not have an internet connection it still shows the last of the users entry. And if changed it updates firebase when an internet connection returns

[2021-01-01 21:24] cis2131 commented on #637
Yes. I use thunkable, so i had to tell users that internet connection was required.
You can always load data from firebase, and store it in local DB, or local Storage, and then check if device is online and if not load the data from local, then set a variable so the app knows which copy of the data is the newest. But you will have to build this function yourselves.

[2021-01-01 21:29] towball commented on #637
Thanks. Still have the issue of updating and changing to firebase and ensuring users can still retrieve data. I have logged a case with Google Play and currently chatting to Thunkable to resolve.
So your App was updating and not retrieving local storage. And when you roll back it retrieves local storage????

[2021-01-01 21:39] cis2131 commented on #637
No all my users lost their data, and had to enter it again. But I have made a backup function in the app, so if they had used that function then they could just restore their data.

[2021-01-01 21:53] towball commented on #637
Hey do u have example blocks for backup routine?

[2021-01-01 21:59] cis2131 commented on #637
Sure. but think this thread is not for this kind of discussion. send me a PM at  Claus_Holbech1 in thunkable community. Then i can send you how i made that.

[2021-01-02 01:56] pippawilder commented on #671
I want a data viewer list to e dynamic to change sources seems like blocks could be used to make this possible, but nope. Datasource is hard coded in the gui of the data viewer list. Please make it changeable in blocks.

[2021-01-02 10:00] rogergrajalesg commented on #724
Same here, i use a timer for start the actions on my app, but still is a bad experience for the final users.

[2021-01-02 15:09] DrTedGit opened #797 "Use Chaining to keep nested JSON object calls from crashing thunkable."
**Is your feature request related to a problem? Please describe.**
Not a JSON hierarchies are symetrical, that is, object at the same level of a hierarchy may have different properties.  Currently in thunkable, referencing a undefined property in nested object causes Thunkable to crash.

**Describe the solution you'd like**
It would be nice if object chaining could be used to allow thunkable objec

[2021-01-04 17:55] StevenPurn commented on #783
Sorry it ended up taking so long! Over the holidays it gets much more difficult for any changes to go out since more people are away from the office and it takes more time for our apps to be reviewed by Google and Apple. We should be getting the fix out some time in the next couple of days but we're trying to get it released ASAP.

[2021-01-04 17:56] StevenPurn commented on #764
Great, thanks for sharing! I'll take a look and see if we can figure out how to get this working for you.

[2021-01-04 22:06] Oreldad opened #798 "Google analyitcs SDK intergration"
Hello,

I think this feature could upgrade our apps drastically.

Thank you!

[2021-01-04 22:09] Oreldad commented on #795
could be amazing.

[2021-01-04 22:13] Oreldad commented on #716
upvoting

[2021-01-05 00:41] towball commented on #637
Did you find a solution?

[2021-01-05 12:16] Piocky commented on #53
Does anyone know if progress has been made on this request? I would be very interested if yes!

[2021-01-05 17:38] josmas commented on #779
We have a fix for this; will be deployed in the next few days (once approved at stores). Thanks.

[2021-01-06 00:16] StevenPurn commented on #764
@migo4Huuub Thanks again for sharing your findings! It always makes it easier to determine what the issue might be. I've been looking into this and I'm curious if you could try something for me to attempt to confirm a suspicion I have. It seems like the Airtable API is returning the linked values as arrays so the block is passing the array as the id rather than the actual id value. Our system is u

[2021-01-06 11:45] DrTedGit opened #799 "Open Event does not occur on Android Live Test if Loading Icon Present"
### Platform
✕ Android companion

### Issue/Request Origin
https://community.thunkable.com/t/list-viewer-not-set-on-screen-open/1042157

### Project Link
https://x.thunkable.com/copy/8511e2e52bbc35dcf8a85f991bd86f16

### Expected Behavior
The open event should occur

### Actual Behavior
OPen Event does not occur
[code]

[2021-01-06 17:57] jane-d-alt commented on #799
Is this issue only seen on Live Test on Android, or on both Live Test and downloaded apps?

[2021-01-06 20:24] migo4Huuub commented on #764
Thanks so much for your investigation, @StevenPurn!

Unfortunately, my tests did not deliver the desired result - only a small improvement: the app no longer gets stuck while reading ;). But it does not grab the correct value.

I first took your hint with the array during testing and implemented it. As result in label 2 only "null" is returned.

Then I added your second hint to the test and cached

[2021-01-06 21:46] DrTedGit commented on #799
I did not test the effect on APKs

[2021-01-07 20:51] StevenPurn commented on #793
Hi @jaredgibb I just tested this and it seems to be working for me. Which version of the Thunkable Live app are you using? You can check by long pressing the Thunkable logo in the top left corner of the screen where your projects are listed. If you aren't on the latest version (should be 25001) can you please update your app and give it another shot? Let me know if it is still not working for you

[2021-01-07 20:56] jaredgibb commented on #793
I am using 250-1.

On Thu, Jan 7, 2021 at 3:51 PM Steven Purn <notifications@github.com> wrote:

--
Jared Gibb
ABA Field Trainer
Braintrust Behavioral Health
269.929.5414

[2021-01-07 21:31] StevenPurn commented on #793
Thanks for following up. I'll do some more investigating and get back to you once I have a better idea of what might be going wrong.

For the record, I'm testing on an Android device. I don't expect it to be platform dependent but I will see if I can get ahold of an iOS device to test with and eliminate the possibility.

[2021-01-08 03:54] alex-jinhyuk opened #800 "Code not running on start"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
thunkable X

### Issue/Request Origin
actual app ( iOS and android same )

### Steps to Reproduce
1. start app
2. then nothing
3.

### Project Link
solved

### Expected Behavior
it has to be navigated to another screen and

[2021-01-08 03:57] alex-jinhyuk commented on #799
i'm having the same symptom. my apps were just fine but suddenly they (all the versions including past ones) stoped at the beginning. and its iOS and android both.

[2021-01-08 12:15] jaredgibb commented on #793
Here is a video showing what I experience.

https://youtu.be/3KdrRYW1BMA

[2021-01-08 14:02] domhnallohanlon commented on #800
@alex-jinhyuk just linking this to your Community post too
https://community.thunkable.com/t/code-not-running-on-start/1042328?u=domhnallohanlon

[2021-01-08 14:08] domhnallohanlon commented on #800
@alex-jinhyuk  can you share your project link with us as well as the copy link provided above so that we can see the more up-to-date version of your project.

Thanks!

[2021-01-08 14:12] jane-d-alt commented on #5
To follow up here: Thunkable community member Kartik wrote a tutorial for creating an emotion recognizer app with the Web API component back in 2019. Check it out at https://community.thunkable.com/t/how-to-use-emotion-recognizer-with-thunkable-x/128815?u=jane

[2021-01-08 14:15] jane-d-alt commented on #12
Support for setting screens to portrait, landscape and 'auto' orientation was introduced in July 2020. You can find this option at the bottom of your Screen's settings panel. https://docs.thunkable.com/screen#set-orientation

[2021-01-08 14:15] #12 closed

[2021-01-08 14:18] jane-d-alt commented on #27
This behavior was resolved shortly after it was reported. We'll close this issue; apologies for not following up here when this was originally resolved!

[2021-01-08 14:18] #27 closed

[2021-01-08 14:18] domhnallohanlon commented on #1
Hey @UserEightyOne @AcrobatEpee @tijender7 @nicbyron @realmisterfish @MrTwoCanes @MrMazzone @tatiang @kezb765

The Data Viewer, and in particular the custom data viewer layouts can be used to achieve pretty much everything you've mentioned in your posts above.

Have you tried using custom layouts in your project:
https://www.youtube.com/watch?v=UIZtLgELGyk

See more about this component in the Com

[2021-01-08 14:20] alex-jinhyuk commented on #800
@domhnallohanlon you mean this? https://x.thunkable.com/projects/5fcdcca2e5bde500119b54b9/1bd95e2a-1959-4c95-83c3-cb34638e872b/designer

[2021-01-08 14:20] jane-d-alt commented on #31
This issue was resolved shortly after being reported. We'll close this issue; apologies for not following up when this issue was originally resolved.

[2021-01-08 14:20] #31 closed

[2021-01-08 14:21] jane-d-alt commented on #43
Components can be duplicated in the Design tab and with the 'any component' blocks. We'll close this issue; apologies for not following up when this feature was originally added to the platform.

[2021-01-08 14:21] #43 closed

[2021-01-08 14:26] domhnallohanlon commented on #9
Hi @rschoem @Failla and @pMertDogan,

We now have a [date picker](https://docs.thunkable.com/date-input) and a [time picker](https://docs.thunkable.com/time-input):

There is also a tutorial in the Community about how to create your own version:
https://community.thunkable.com/t/drop-down-menu-spinner-tutorial/75745?u=domhnallohanlon

Let me know what you think!

[2021-01-08 14:30] jane-d-alt commented on #47
You can accomplish most of these now with the device blocks (https://docs.thunkable.com/device):

✓ OS: ios or android
OS version
Type: phone or tablet (can be deduced from screen width/height)
✓ Screen width
✓ Screen height
Screen density
✓ Screen Orientation
Screen rotation angle - should be possible to get this with sensors
✓ Country - can be obtained with location sensor and reverse geocoding:

[2021-01-08 14:30] #47 closed

[2021-01-08 14:32] jane-d-alt commented on #48
It is now possible to post and receive messages between the device and the web viewer https://docs.thunkable.com/web-viewer#post-message-receive-message
We'll close this issue now; apologies for not following up when this feature was originally implemented

[2021-01-08 14:32] #48 closed

[2021-01-08 14:33] jane-d-alt commented on #51
We understand that this isn't exactly the same, but you can save a screen (blocks included) and import it into other apps: https://docs.thunkable.com/screen#save-screen

[2021-01-08 14:33] domhnallohanlon commented on #10
@rschoem  @AlexITMan just an FYI in case you weren't aware of this already but if you go to "Advanced > Styling" in the legacy UI editor there are options to set the Border Widths and Radii:

![border_radii](https://user-images.githubusercontent.com/3117345/104026875-7ac06f80-51be-11eb-8d53-213242fcac23.png)

Let me know whether or not that helps!

[2021-01-08 14:36] jane-d-alt commented on #58
You can check out a community tutorial for this here: https://community.thunkable.com/t/facebook-and-google-signup-login-in-your-app/841096?u=jane

[2021-01-08 14:41] domhnallohanlon commented on #59
@pMertDogan @tomer2526 We've made a lot of great updates to the cloud variables recently (including the ability to access/manipulate objects) perhaps this would work with your Classic Firebase?

https://docs.thunkable.com/variables#cloud-variables-and-data

Let me know what you think.

[2021-01-08 14:42] jane-d-alt commented on #71
This behavior was resolved shortly after reporting. We'll close this issue; apologies for not following up when this was originally resolved.

[2021-01-08 14:42] #71 closed

[2021-01-08 14:42] jane-d-alt commented on #73
duplicate of #51

[2021-01-08 14:42] #73 closed

[2021-01-08 14:43] jane-d-alt commented on #74
duplicate of #20

[2021-01-08 14:43] #74 closed

[2021-01-08 14:44] jane-d-alt commented on #94
Format of lists can now be personalized with Custom Data Viewer Layouts: https://docs.thunkable.com/custom-data-viewer-layout
We'll close this issue; apologies for not following up when this feature was originally released.

[2021-01-08 14:44] #94 closed

[2021-01-08 14:46] jane-d-alt commented on #99
The slider 'on sliding complete' block can be used to reset the slider, which facilitates this functionality. We'll close this issue; apologies for not following up when this block was originally added.

[2021-01-08 14:46] #99 closed

[2021-01-08 14:47] jane-d-alt commented on #109
The Web Viewer now has 'back' and 'forward' buttons. We'll close this request; apologies for not following up when the feature was originally added.

[2021-01-08 14:47] #109 closed

[2021-01-08 14:48] jane-d-alt commented on #106
This can now be done with any component blocks: https://docs.thunkable.com/any-component-blocks
We'll close this issue; apologies for not following up when these blocks were originally added.

[2021-01-08 14:48] #106 closed

[2021-01-08 14:49] domhnallohanlon commented on #28
@Hindawi91 make sure you Screen has the "scrollable" property set to `True`

![screen_scrollable](https://user-images.githubusercontent.com/3117345/104028501-b1978500-51c0-11eb-932f-bd268e520223.png)

Does that work for you?

[2021-01-08 14:51] jane-d-alt commented on #303
Text Input now has the following events:
When Text Input Click
When Text Input Changes
When Text Input Unfocus
When Text Input Submit

We'll close this issue now; apologies for not following up when these blocks were originally added.

[2021-01-08 14:51] #303 closed

[2021-01-08 14:53] jane-d-alt commented on #111
Text Input now has the following events:
When Text Input Click
When Text Input Changes
When Text Input Unfocus
When Text Input Submit

You can find the 'hide keyboard' block in the device blocks: https://docs.thunkable.com/device#dismiss-keyboard

We'll close this issue now; apologies for not following up when these blocks were originally added.

[2021-01-08 14:53] #111 closed

[2021-01-08 14:55] domhnallohanlon commented on #29
Hi @HayderAlLami  did you see the work-around ACTech suggested here:
https://community.thunkable.com/t/label-html-in-the-next-release/33182/6?u=domhnallohanlon

Let me know whether or not that worked for you!

[2021-01-08 14:57] jane-d-alt commented on #115
This behavior is resolved on iOS 14 devices. Please re-open if seen again.

[2021-01-08 14:57] #115 closed

[2021-01-08 15:01] domhnallohanlon commented on #86
@pMertDogan Just FYI, Jared has a work-around for this using urlencode.org in the Community here:
https://community.thunkable.com/t/solved-webviewer-and-image-components-not-autoencoding-urls-to-produce-fancy-charts/478957/3?u=domhnallohanlon

Let me know whether or not that helps at all

[2021-01-08 15:02] jane-d-alt commented on #125
Map now has event blocks including 'on Press' and 'on long Press', so markers can be placed where the user presses.

Individual markers can be identified by latitude and longitude https://community.thunkable.com/t/airtable-map-show-image-when-marker-pressed/251154?u=jane

Specific marker IDs are still a good suggestion.

Will rename this issue so that the outstanding request can be better understo

[2021-01-08 15:03] jane-d-alt commented on #127
landscape is now supported on iOS. We'll close this issue; apologies for not following up when this feature was originally added to the platform.

[2021-01-08 15:03] #127 closed

[2021-01-08 15:05] jane-d-alt commented on #135
Data saved to a local DB is not persistent.

To save data persistently you can:
use stored variables https://docs.thunkable.com/variables#stored-variables
use a local table as a Data Source: https://docs.thunkable.com/data-sources

[2021-01-08 15:12] jane-d-alt commented on #117
It is now possible to upload files to a website shown in a Web Viewer.

[2021-01-08 15:12] #117 closed

[2021-01-08 15:12] jane-d-alt commented on #138
It is now possible to upload files to a website shown in a Web Viewer.

[2021-01-08 15:12] #138 closed

[2021-01-08 15:12] jane-d-alt commented on #141
Thunkable now has an Audio Recorder component: https://docs.thunkable.com/audio-recorder

[2021-01-08 15:12] #141 closed

[2021-01-08 15:14] jane-d-alt commented on #147
This behavior was resolved shortly after reporting. We'll close this issue; apologies for not following up when this behavior was originally resolved.

[2021-01-08 15:14] #147 closed

[2021-01-08 15:15] jane-d-alt commented on #148
Thunkable now has a 'when Animation Click' block. We'll close this request; apologies for not following up when this feature was originally added.

[2021-01-08 15:15] #148 closed

[2021-01-08 15:17] jane-d-alt commented on #165
Issue was resolved at the time, further info available by following Community link. We'll close this issue; apologies for not following up when this behavior was originally resolved.

[2021-01-08 15:17] #165 closed

[2021-01-08 15:18] jane-d-alt commented on #167
This behavior was resolved shortly after reporting. We'll close this issue; apologies for not following up when this behavior was originally resolved.

[2021-01-08 15:18] #167 closed

[2021-01-08 15:18] jane-d-alt commented on #171
It is now possible to view a video in full screen with the Web Viewer component. We'll close this issue; apologies for not following up when this feature was originally added.

[2021-01-08 15:18] #171 closed

[2021-01-08 15:20] jane-d-alt commented on #173
Thunkable now has an audio recorder component: https://docs.thunkable.com/audio-recorder

We'll close this issue; apologies for not following up when this feature was originally added.

[2021-01-08 15:20] #173 closed

[2021-01-08 15:21] jane-d-alt commented on #179
Issue was resolved; further info at community link.

[2021-01-08 15:21] #179 closed

[2021-01-08 15:24] jane-d-alt commented on #204
issue was resolved

[2021-01-08 15:24] #204 closed

[2021-01-08 15:27] domhnallohanlon commented on #112
@lisztomania1 just in relation to your questions above

1. You can change the icon at the moment, but not the text
2. Reordering the screens in the component tree changes the order they open but at the moment the first/top screen always opens first and there's no way to store/ retrieve the last opened tab on startup
3. should be resolved now
4. should be resolved now

@reedlane this should be reso

[2021-01-08 15:28] jane-d-alt commented on #208
This behavior has been resolved. We'll close this issue now; apologies for not following up when the behavior was originally resolved.

[2021-01-08 15:28] #208 closed

[2021-01-08 15:29] domhnallohanlon commented on #152
Hey @amuirmusic ,

We don't have this available as a native component right now, but there are a number of ways to achieve this. Take a look at the following tutorial and let me know whether or not any of these works for you:
https://community.thunkable.com/t/creating-a-toggle-in-thunkable/53574?u=domhnallohanlon

Thanks,
Domhnall

[2021-01-08 17:14] jane-d-alt commented on #210
This behavior does not effect the new 'event' output block of the 'onMarkerPress' event block. We'll close this issue now; apologies for not responding here when this behavior was originally resolved.

[2021-01-08 17:14] #210 closed

[2021-01-08 17:18] jane-d-alt commented on #213
This behavior has been resolved. We'll close this issue now; apologies for not responding here when this behavior was originally resolved.

[2021-01-08 17:18] #213 closed

[2021-01-08 17:25] jane-d-alt commented on #216
This behavior appears to be resolved when testing the above app on an Android device. @MrSco could you confirm?

[2021-01-08 17:27] jane-d-alt commented on #228
This can be achieved using the blocks to get screen height/width from the Device drawer of blocks.

[2021-01-08 17:27] MrSco commented on #216
@jane-d-alt i'm not using thunkable any more. I rewrote my app in react native.

[2021-01-08 17:28] jane-d-alt commented on #216
Thanks for replying. I'll close the issue since the behavior appears resolved.

[2021-01-08 17:28] #216 closed

[2021-01-08 17:39] jane-d-alt commented on #264
Links in iOS publish portal have been updated.

[2021-01-08 17:39] #264 closed

[2021-01-08 17:53] jane-d-alt commented on #217
These fontstyle and alignment blocks now do nothing, while the justification blocks now successfully set the justification of the row component.

We will now close this issue. Apologies for not following up when this behavior was originally resolved.

[2021-01-08 17:53] #217 closed

[2021-01-08 17:55] jane-d-alt commented on #255
This behavior has been resolved. We will now close this issue. Apologies for not following up when this behavior was originally resolved.

[2021-01-08 17:55] #255 closed

[2021-01-08 17:58] jane-d-alt commented on #247
Fixes can be written for when this behavior occurs in a reproducible way, as in the original report. If this issue occurs in your app, and it seems like a once-off (ie. cannot be reproduced), there may be an issue with your project. In this case, please contact the team.

@chickenpotpie123 do you still have access to this project? If so, and if this issue wasn't resolved on another thread, could y

[2021-01-08 19:10] kenbushey commented on #47
Thank you! I employed these blocks after they were released. Worked beautifully for my application. Thanks again!

Ken

From: jane-d-alt [mailto:notifications@github.com]
Sent: Friday, January 8, 2021 9:31 AM
To: thunkable/thunkable-issues <thunkable-issues@noreply.github.com>
Cc: kenbushey <kvbushey@sbcglobal.net>; Comment <comment@noreply.github.com>
Subject: Re: [thunkable/thunkable-issues] To

[2021-01-09 14:42] domhnallohanlon commented on #108
Linking back to Community questions about this:

- https://community.thunkable.com/t/scopevariable-in-rt-database/1042074?u=domhnallohanlon
- https://community.thunkable.com/t/there-is-a-random-array-called-scopedvariablearray-appearing-in-my-app/1042776?u=domhnallohanlon
- https://community.thunkable.com/t/firebase-scopevariableinfo-cloud-variable-error-notification/235341?u=domhnallohanlon (with

[2021-01-11 02:19] KaneoheKid opened #801 "Two More Date Choices from Device Component"
At this time, the Device Component  "Current" block can select the day, month, year, hour, second, minute, day of the month, Day of the Week.

Request two additional selections:  "Day of the year" (i.e. integer between 1 and 366) and "Week of the Year" (i.e. integer between 1 and 52).  These are needed for some applications and I don't think there is a way to derive them from the available selecti

[2021-01-11 04:58] AmanChaudharyy opened #802 "Networ Request Failed"
Hello Thunkable,
I am connecting web api to my app. it works fine in livetest window but it throw me a error NETWORK REQUEST FAILED while test/install app on my android phone. Api URl:  https://youngmanbeta.com/testAndroid
pls reply asap …

[2021-01-11 17:15] josmas commented on #802
Please ask for programming help in the [community forum](https://community.thunkable.com/). Thanks!

[2021-01-11 17:15] #802 closed

[2021-01-11 17:20] josmas commented on #800
hi @alex-jinhyuk this is running for me. Is it something particular you do that it stops working? is it on download?

[2021-01-11 17:37] josmas commented on #799
@alex-jinhyuk if you start a new project, place a label and a button that changes the text in the label, and open in the Companion... that also does not work?

[2021-01-11 17:48] josmas commented on #794
Hi @ManuelDev1 Can you send more details about what your app do? A link to the app would be helpful; are you loading a webviewer component full screen in that screenshot?

[2021-01-11 17:51] josmas commented on #796
Hey @wolberd (long time, by the way!).

Copies do not keep the connection to data sources, and that is by design (in case you share your app, you don't want to share your credentials). There is a bit of discussion about that design (pros and cons) here. Closing this as a dup for now.
Duplicate of #654

[2021-01-11 17:51] #796 closed

[2021-01-11 20:10] ManuelDev1 commented on #794
Hi @josmas Yes, here is the link to the app: https://x.thunkable.com/copy/43f59bfe7efeb2d1edbdc65d5b41ad07
I hope the link works, if you need another one please let me know 👍

And yes, I load a web viewer in the app in the screenshot

Many Thanks
Manuel

[2021-01-12 08:07] jane-d-alt commented on #799
Thunkable team member Janhavi is working on this issue.

[2021-01-12 10:40] alex-jinhyuk commented on #800
hi. sorry i solved this problem. firebase rules causes problem. but still i sense problem exists but i'll let you guys know when i organized it. solved issue for now anyway

[2021-01-12 10:40] alex-jinhyuk commented on #799
it is solved now. thanx

[2021-01-12 15:23] josmas commented on #800
ok, thanks @alex-jinhyuk . Will close this for now, if you find any other issues, do let us know (feel free to reopen).

[2021-01-12 15:23] #800 closed

[2021-01-12 15:51] josmas commented on #794
Hi @ManuelDev1 this seems to be an issue with your SSL configuration. If you load any other https site on web viewer, it works fine. You should check your config, especially the host name, things such as is you've registered with `www` or without it, and also if you are using intermediary machines that might not have certificates. If you are hosting on a service like AWS or similar, SSL config can

[2021-01-12 20:30] ManuelDev1 commented on #794
Hi @josmas Thanks for the fast respond! The question is why has it worked before? See the link to the Playstore with the same link in the web viewer: https://play.google.com/store/apps/details?id=com.gmail.manuelnessdevmn.dhlsendungsverfolgung

Anyway, I hosted my website at Jimdo, I have already written to them about the problem and they mean that it is not because of the SSL from the website and

[2021-01-12 20:33] ManuelDev1 commented on #794
![SSL_Error](https://user-images.githubusercontent.com/76664227/104369503-d1f77480-551d-11eb-8e7e-2405ed43b3e9.PNG)

[2021-01-12 22:23] tatiang opened #803 "Barcode reader does not work in new drag & drop interface"
### Platform
Thunkable X - new drag & drop interface

### Issue/Request Origin
Also posted at https://community.thunkable.com/t/does-the-barcode-reader-work-in-the-new-interface/1044945

### Steps to Reproduce
1. Add a barcode block to an event block
2. Live Test on a device
3. There is no camera view and no result is passed to the "value" or "error" blocks.

### Project Link

### Expected Behavio

[2021-01-13 14:16] josmas commented on #803
thanks for the report @tatiang
I believe we have a fix for this, @JanhaviDahihande could you please confirm?

[2021-01-13 14:58] domhnallohanlon commented on #803
@josmas I think this is it?
https://github.com/thunkable/thunkable-for-ios/pull/7373

[2021-01-13 15:46] domhnallohanlon opened #804 "Components on Screen2 not aligned correctly after v253 update"
From @DrTedGit: https://community.thunkable.com/t/upcoming-release-v253/1044172/13?u=domhnallohanlon

![f6711708ec03173689490fad596febb7444a8a65_2_591x500](https://user-images.githubusercontent.com/3117345/104475007-80e78f00-55b6-11eb-99bb-65a6fb89fc0b.png)

[2021-01-13 15:49] domhnallohanlon commented on #804
After initial triage:

- Seems to be affecting absolutely positioned components
- Not affecting components on Screen1 (changed the position of "Map Screen" and "Settings Screen" to observe this)
- May be limited just to screens inside navigators (not verified)

[2021-01-13 16:52] JanhaviDahihande commented on #803
Yes @josmas Fix is under review now. Thanks :)

[2021-01-13 19:26] Oreldad commented on #799
this is happening in ios also - live and downloaded versions

[2021-01-15 06:50] Irwin2004 opened #805 "Data viewer bug"
### Platform
Thunkable Live, version 254

### Issue/Request Origin
I have four tab navigator screen, I put every screen a tab navigator. But when I change to the next screen, it begin with loading icon then a few second it shows data viewer. I go back to the previous screen, then it shows loading icon again. Why it shows loading icon again when i press on evey screen?

### Steps to Reproduce
1. Op

[2021-01-15 06:57] #779 closed

[2021-01-15 13:22] josmas commented on #805
hi @Irwin2004 can you clarify what do you mean by `I put every screen a tab navigator`?
If what you have is the data viewer in each of the tabs, it will always reload when you change screen. This is in case the data has changed, you don't want to show stale data to your users (say that you modify the data in screen 1, you need to reload in screen 2, right?).

[2021-01-15 14:20] jane-d-alt commented on #122
This is now how the 'get current URL' block works. We'll close this issue now; apologies for not following up when this feature was first added to the platform.

[2021-01-15 14:20] #122 closed

[2021-01-15 14:55] jane-d-alt commented on #269
Thunkable now has post message and receive message blocks for the Web Viewer component. You can read about them [here](https://docs.thunkable.com/web-viewer#post-message-receive-message). We'll close this issue now; apologies for not following up when these blocks were originally added to the platform.

[2021-01-15 14:55] #269 closed

[2021-01-15 15:01] jane-d-alt commented on #270
The issue of "setting a variable to the Text property of a Text Input component in which the user hasn't entered anything crashes the Live Test app" has been resolved. We'll close this issue now; apologies for not following up when this fix was originally deployed.

[2021-01-15 15:01] #270 closed

[2021-01-15 15:06] jane-d-alt commented on #274
This behavior has been resolved. We'll close this issue now; apologies for not following up when this fix was originally deployed.

[2021-01-15 15:11] domhnallohanlon commented on #275
Hi @brucemortland ,

Are you still facing this issue on iOS 12.4? I retested your sample app on a newer iOS version and it seems to work fine for me now.

Wondering if we can close this issue?

[2021-01-15 15:14] jane-d-alt commented on #280
Our future in-app purchases component will have a subscription option. Since this request overlaps with #227 , we're going to close this issue. Thank you for making this request!

[2021-01-15 15:14] #280 closed

[2021-01-15 15:15] jane-d-alt commented on #536
We are working on an in-app purchases component. Since this request overlaps with #227 , we're going to close this issue. Thank you for making this request!

[2021-01-15 15:15] #536 closed

[2021-01-15 15:20] jane-d-alt commented on #283
Closing this issue since issue #248 has been closed.

[2021-01-15 15:20] #283 closed

[2021-01-15 15:29] jane-d-alt commented on #284
This kind of block will now fail silently/be ignored. We'll close this issue now; apologies for not following up here when this behavior was originally resolved.

[2021-01-15 15:29] #284 closed

[2021-01-15 15:31] domhnallohanlon commented on #281
Hey @mastertechisme,

Just gone through the read and write blocks for Airtable with my device in Airplane more. In relation to your original question, if you add some error handling like this then it will return an error message when your device is offline and the app does not crash:

<img width="624" alt="Screenshot 2021-01-15 at 15 28 41" src="https://user-images.githubusercontent.com/3117345/10

[2021-01-15 15:31] #281 closed

[2021-01-15 15:42] domhnallohanlon commented on #289
Hey @AlexITMan ,

You should use the `height` property to set the height of your label rather than `line height`

The line height is a different property entirely. See more here:
https://stackoverflow.com/questions/23247467/how-css-line-height-is-measured

[2021-01-15 15:42] #289 closed

[2021-01-15 15:49] Irwin2004 commented on #805
Hi @josmas
In this case, I don't modify the data. Example I'm in screen 1 than I go to screen 2, in the beginning the data viewer shows loading icon then it show the data. Then I go back to screen 1 and I go back again to screen 2 again. But the loading icon is visible again.

Previously, the loading icon is not visible. When I press screen 2, it automaticly show the data. The loading icon is not

[2021-01-15 15:50] jane-d-alt commented on #292
This behavior has been resolved. Make sure that you have granted location permission to your built APK or to the Thunkable Live app (screenshot of permissions page included). We'll close this issue now; apologies for not following up when this behavior was originally resolved.
![Screenshot_20210115-154859](https://user-images.githubusercontent.com/51848939/104748209-5da11900-5749-11eb-82e5-6cb4854

[2021-01-15 15:50] #292 closed

[2021-01-15 15:51] domhnallohanlon commented on #291
@gre4twh1te following up/closing this now.

Just retesting with the following blocks and the visibility is toggling as expected:
![Screenshot 2021-01-15 at 15 39 45](https://user-images.githubusercontent.com/3117345/104748217-5f6adc80-5749-11eb-8f35-16ac75f8692e.png)

[2021-01-15 15:51] #291 closed

[2021-01-15 15:51] jane-d-alt commented on #293
The linked community post is marked as Solved, so we'll close this issue as well. Please reach out if similar behavior is seen with future apps!

[2021-01-15 15:51] #293 closed

[2021-01-15 15:56] jane-d-alt commented on #298
Mark's linked issue is closed, so we'll close this issue as well. Apologies for not following up when the linked issue was originally resolved.

[2021-01-15 15:56] #298 closed

[2021-01-15 16:04] jane-d-alt commented on #307
Closing as this issue overlaps with #172.

[2021-01-15 16:04] #307 closed

[2021-01-15 16:05] jane-d-alt commented on #354
Closing as this issue overlaps with #172.

[2021-01-15 16:07] jane-d-alt commented on #310
This can now be done with the [Data Viewer ](https://docs.thunkable.com/data-viewers)components, as you can select a layout that displays images.

[2021-01-15 16:07] #310 closed

[2021-01-15 16:10] domhnallohanlon commented on #301
@AlexITMan @gre4twh1te I'm going to close this now as the behaviour seems to be fixed.

Screenshot below of the simple test I ran. (the button worked at the default size too!)

![button_on_map](https://user-images.githubusercontent.com/3117345/104750412-f9338900-574b-11eb-847b-243a8caf5740.png)

[2021-01-15 16:10] #301 closed

[2021-01-15 16:12] jane-d-alt commented on #313
This behavior appears to be resolved, based on [this sample project](https://x.thunkable.com/projectPage/6001be0f9a55110012ccb75a/). We'll close this issue now; apologies for not following up when it was originally resolved.

[2021-01-15 16:12] #313 closed

[2021-01-15 16:18] domhnallohanlon commented on #309
@coiddaa355 @gre4twh1te closing this as pull to refresh is available for both the data viewer and the web viewer now:

https://community.thunkable.com/t/solved-how-do-i-increment-values-in-the-data-viewer-list/590659/7?u=domhnallohanlon

Thanks again!

[2021-01-15 16:18] #309 closed

[2021-01-15 16:19] jane-d-alt commented on #321
Hi there,

You can set your project's Screen to 'landscape' or 'auto'. This will allow you to use the Thunkable Live app in landscape mode, which should help with this sizing issue.

We recommend doing the majority of your editing on a desktop or laptop computer for maximum ease of use.

[2021-01-15 16:19] #321 closed

[2021-01-15 16:22] jane-d-alt commented on #322
This behavior has been resolved. We'll close this issue now; apologies for not following up when it was originally resolved.

[2021-01-15 16:22] #322 closed

[2021-01-15 16:25] jane-d-alt commented on #330
Closing as this issue overlaps with #172

[2021-01-15 16:25] #330 closed

[2021-01-15 16:29] jane-d-alt commented on #327
This behavior appears to be resolved, based on [this app](https://x.thunkable.com/projectpage/6001c250de720900116591a1/) which recreates the blocks above. We'll close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-01-15 16:29] #327 closed

[2021-01-15 17:29] brucemortland commented on #275
Dom,

Let me check.

Bruce

*Bruce Mortland*
<https://mail.google.com/>work: 614-365-2283 x317
cell: 614-327-6300

<http://themortlandminute.weebly.com/>

On Fri, Jan 15, 2021 at 10:12 AM domhnallohanlon <notifications@github.com>
wrote:

[2021-01-15 23:13] migo4Huuub commented on #764
Hello @StevenPurn , hope you are fine.

Did you have the possibility to have another look into this topic? Any other ideas? Any things you want me to test?
Thanks, Migo

[2021-01-16 04:12] IanOstrom commented on #270
Thanks for letting me know. I love the work you all do. Our CS Club has
just started using it for ongoing project development at club meetings.

On Fri, Jan 15, 2021 at 10:01 AM jane-d-alt <notifications@github.com>
wrote:

[2021-01-17 03:37] gobassky commented on #801
Also please consider adding the components for conversion of epoch time (to and from) human readable date/time. This feature is available in most programming languages, but on Thunkabl, we need to use REST APIs or lengthy own coding blocks.

[2021-01-17 03:41] gobassky commented on #799
It happened on published web-apps also. Whatever blocks in the Open blocks did not execute. (the screens that "open' don't work screens are within top navigators)

[2021-01-18 23:54] StevenPurn commented on #793
Hi @jaredgibb. I took another look at this and I'm wondering if you can try something for me. In your script, if the score is less than 4 can you `postMessage(y)` instead of `postMessage(x)`? I think you'll notice that it works fine if the score is 4 because you're sending a string value rather than an object. If you stringify the object before the post message it should work as expected. Let me k

[2021-01-19 00:16] StevenPurn commented on #764
Hi @migo4Huuub! Thanks for following up. I'm doing some more digging on this. I think I might have slightly misunderstood what your blocks were intended to do so can you try reverting it back so the row id that you pass in is just the `get property Function from object app variable zw.record` rather than using the get first item from list block? Let me know if that works.

[2021-01-19 15:23] Irwin2004 opened #806 "Share image bug"
### Platform
Thunkable Live, version 254

### Issue/Request Origin
I use data viewer to show my image, I insert the image using airtable. Then I use share component and I add some blocks. But when I press the share button that I've made, the share option doesn't appear.
When I try to share text that insert using airtable and display it using data viewer, it works correctly and it show the share op

[2021-01-19 18:09] StevenPurn commented on #764
I understand why you think it might be an issue with the get value block. However, I'm able to get it working (and was unable to reproduce the error until now).

An important thing to note when you're reporting a bug is that distilling it down to the most simple representation is the best way to report it. There was some confusion on this thread because your example was a little more complicated t

[2021-01-19 18:50] migo4Huuub commented on #764
Thank you @StevenPurn so much for this detailed feedback! I will start at the point and test. But first here is what you wanted to know - my Wait4Airtable routine. I had quickly discovered in my first attempts that I need to adjust to asynchronous processing. In the beginning, I had created fixed wait blocks (with static 1 or 2 seconds). Sometimes this worked, sometimes not, because too short. Tha

[2021-01-20 00:37] tatiang opened #807 "Change sprite's image using blocks"
**Is your feature request related to a problem? Please describe.**
Not really. Just a limitation.

**Describe the solution you'd like**
There should be a way to change a sprite's image to an image not included in its picture list. For example, you should be able to set a sprite's image to a photo taken by the user.

**Describe alternatives you've considered**
None.

**Which platform are you asking

[2021-01-20 15:27] migo4Huuub commented on #764
@StevenPurn, I have really good news: I can present a solution that works. And now you have to find out why it no longer works the way I did it before 😉:

This is the "get value" as it used to work in the past and now causes the hang (you know it already 😉:

![image](https://user-images.githubusercontent.com/72560309/105195390-e13c7a80-5b3a-11eb-9ac5-516e26cad30e.png)

And this is what I figured o

[2021-01-20 17:27] MrMazzone commented on #274
This behavior is the same.  Has not been fixed.  Please reopen.

 You can still drag sprite off the canvas and make it disappear.  Just created a new project and checked.

[2021-01-20 17:44] StevenPurn commented on #764
Thanks for following up. The issue here is still that Airtable responds with an array when the column type is `Link to Table` even if there is only one value because you can add multiple values:
![Screen Shot 2021-01-20 at 9 26 06 AM](https://user-images.githubusercontent.com/8118591/105211801-8a667f00-5b01-11eb-85cb-ec5893f3b992.png)

The reason that the join block works is because it transpiles

[2021-01-20 21:18] migo4Huuub commented on #764
Thanks again @StevenPurn for your detailed explanations about the array in the linked fields. I have rebuilt my test scenario to test again your "in list get #1"-suggestion and can report back: You are right. The LIST-approach actually works just like the JOIN-approach. I probably overlooked an error during the first test, I'm sorry.

Which means:
![image](https://user-images.githubusercontent.com

[2021-01-20 21:22] #764 closed

[2021-01-20 21:25] StevenPurn commented on #764
Thanks for confirming. Glad you were able to get it fixed!

[2021-01-21 14:10] josmas commented on #274
there seems to be something odd here. If gravity is on, I guess the sprite should drop back down when pushed up and out of the screen... is that the bahviour you'd be expecting @MrMazzone?

[2021-01-21 14:14] josmas commented on #274
hey @pmwthunkable, any thoughts on how this should behave? Also live test and web app seems to be behave differently to on device. On web I cannot push the sprite off the screen at all (but on device it does go off and disappear).

[2021-01-21 14:40] MrMazzone commented on #274
Hi @josmas .  My expected behavior is that the sprite cannot leave the canvas.  Hits the edge and stays within the borders of the canvas.

On the web, if you play around you can get it to disappear too.  Drag off and then click.

I guess if I was to describe desired behavior more in depth, it would be that the dragging action (sprite following finger/cursor) would stop as soon as the finger/cursor

[2021-01-22 03:05] boomdaba opened #808 "I have an issue in iOS status bar color."
[IMG_0567](https://community.thunkable.com/uploads/default/original/3X/a/3/a39bd4bf7e3ed8316200bd94e8f35b1bb9fc10da.jpeg)

I'm in iOS and I have an issue about status bar.
Could you please resolve this issue. I need to publish my app as soon as possible.

following this topic
https://community.thunkable.com/t/status-bar-color-blending-issue/426070

[2021-01-22 06:19] danibarzo commented on #759
Hi @josmas, please have you checked this issue?. Thanks in advance!

[2021-01-22 14:08] domhnallohanlon commented on #152
Following up here @amuirmusic  with another couple of options:

[2021-01-22 14:13] domhnallohanlon commented on #163
Thanks so much for sharing @matias6942  and @farzam-parto - really appreciate your Community tutorial too.

We made a tutorial video on YouTube (crediting you, of course) about this for our users too:
https://www.youtube.com/watch?v=XYlOkaDg9Ho

Keep up the good work!

[2021-01-22 14:42] domhnallohanlon commented on #308
Thanks for the request @coiddaa355 - we'll look into this for you

[2021-01-22 14:46] jane-d-alt commented on #333
This behavior was fixed shortly after reporting. We will close this issue now; apologies for not following up when the behavior was originally fixed.

[2021-01-22 14:46] #333 closed

[2021-01-22 14:53] domhnallohanlon commented on #318
Hey @grfr58  we updated the platform since this was reported - is it displaying properly for you now?

[2021-01-22 14:54] jane-d-alt commented on #339
The 'deleteAllMarkers' block was updated to only delete markers, and the blocks 'deleteAllPolylines' and 'deleteAllPolygons' were added to the platform and documented. We'll close this issue now; apologies for not following up when these blocks and docs were first introduced.

[2021-01-22 14:54] #339 closed

[2021-01-22 14:55] domhnallohanlon commented on #319
@jkrueger2020 does it make a difference if you use https:// instead of just http://?

[2021-01-22 14:58] #348 closed

[2021-01-22 14:59] #358 closed

[2021-01-22 16:18] #350 closed

[2021-01-22 16:36] jane-d-alt commented on #326
I have renamed this issue as the team agrees with the idea of removing the 'filler' content from the top of the Thunkable Live app. We are working on a redesign of the Thunkable Live app that we hope the community will love!

[2021-01-22 16:37] jane-d-alt commented on #359
This behavior appears to be resolved on iOS and Mac. We will close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-01-22 16:37] #359 closed

[2021-01-22 16:48] jane-d-alt commented on #363
This behavior appears to be resolved based on live testing using the Thunkable Live app on Android. We'll close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-01-22 16:48] #363 closed

[2021-01-22 16:49] jane-d-alt commented on #376
This behavior appears to be resolved (now on Thunkable Live version 255-01). We'll close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-01-22 16:49] #376 closed

[2021-01-22 16:55] jane-d-alt commented on #388
Following up on what we have implemented that addresses these requests:
1) You can now save screens to a 'Saved Screens' folder, allowing you to file screens and move them between projects
2) The behavior where content on the Design tab is auto-expanded has been resolved
3) With snap-to-position projects, you can preview your app on different sized screens by following these instructions: https://

[2021-01-22 16:55] #388 closed

[2021-01-22 16:56] #394 closed

[2021-01-22 17:15] jane-d-alt commented on #403
You can follow these instructions to web preview your app on different sized screens: https://docs.thunkable.com/generate-screenshots#preview-your-app-on-different-sized-device-screens

We will also be adding more web preview resizing options to the Drag and Drop UI.

[2021-01-22 17:15] #403 closed

[2021-01-22 17:52] jane-d-alt commented on #425
You can now navigate to different years when using the Date Input component on a device.
We'll close this issue now; apologies for not following up here when this feature was originally implemented.

[2021-01-22 17:52] #425 closed

[2021-01-22 17:58] jane-d-alt commented on #428
Closing as this overlaps with #19. Thank you for the suggestion!

[2021-01-22 17:58] #428 closed

[2021-01-22 18:52] jane-d-alt commented on #442
Thunkable now has an [Audio Recorder ](https://docs.thunkable.com/audio-recorder)component.
We'll close this issue; apologies for not following up when this component was originally added to the platform.

[2021-01-22 18:52] #442 closed

[2021-01-22 18:58] jane-d-alt commented on #451
Closing as this overlaps with #335. We appreciate that this is a feature that the community wants to see. If you agree with an existing request, we encourage you to comment on it.

[2021-01-22 18:58] #451 closed

[2021-01-22 19:05] jane-d-alt commented on #460
The Web Viewer now has a [go back](https://docs.thunkable.com/web-viewer#go-back-forward) block. We'll close this request now; apologies for not following up when this block was originally added.

[2021-01-22 19:05] #460 closed

[2021-01-22 19:09] #464 closed

[2021-01-23 01:10] athornock84037 opened #809 "Some Background Resize Modes for Buttons Cause a Unsettling Redraw Behavior"
### Platform
Thunkable X, Android Live App Tested.

### Issue/Request Origin
Noticed the issue on my own.

### Steps to Reproduce
1. When you use “contain”, “stretch”, or “center” for the background picture size on a button it redraws on page entrance in an jerky fashion.

### Project Link
https://x.thunkable.com/copy/62c51d13e2b57d88493b0234d817a947

### Expected Behavior
A smoother transition.

[2021-01-24 17:21] brucemortland commented on #275
Dom,

Sorry about the slow response! Yes, it appears to work now. Close it!

Thanks again,
Bruce Mortland

*Bruce Mortland*
<https://mail.google.com/>work: 614-365-2283 x317
cell: 614-327-6300

<http://themortlandminute.weebly.com/>

On Fri, Jan 15, 2021 at 12:29 PM Bruce Mortland <brucemortland@gmail.com>
wrote:

[2021-01-24 22:32] #275 closed

[2021-01-25 16:24] josmas commented on #759
It is on my TODO list for this week; hopefully I can get to it. Thanks!

[2021-01-25 19:27] danibarzo commented on #759
Great, thanks!

On Mon, Jan 25, 2021 at 11:25 AM Jos <notifications@github.com> wrote:

[2021-01-26 13:00] kkadouhtcc commented on #756
@mjgallag Is there an update on this issue? It's been a while since it's been reported and SecureTextEntry is a necessity when creating a webapp

[2021-01-27 20:15] #756 closed

[2021-01-27 20:37] kkadouhtcc commented on #756
Why was this closed? The issue is ongoing @StevenPurn

[2021-01-27 20:38] StevenPurn commented on #756
It has been fixed. The fix isn't released yet but it is in our code base and should be getting released sometime early next week.

[2021-01-27 20:39] kkadouhtcc commented on #756
Ah, ok glad to hear! Thank you for the help! @StevenPurn

[2021-01-28 18:25] jgipp opened #810 "Responsive Font Size"
I would love to see responsive font size as an option so when I switch between my phone and my iPad, the font size in the labels and buttons automatically adjust.

[2021-01-28 18:40] jgipp opened #811 "Additional Font Options"
There used to be an option to change fonts by typing in the font name in the Legacy version.  I don't find that option available in the new drag and drop option of Thunkable X.

[2021-01-29 06:43] KaneoheKid opened #812 "List Viewer issue beginning 1/27/21"
### Platform Android Companion, both V254 and 255 and live test.

### Issue/Request Origin
Issue began suddenly ~ midnight PDT on 1/27.  Listviewer stopped working on all screens of a 5 screen app, so it was not due to one of my typical blunders.  Upgrading to companion V255 did not resolve the issue.  Adding a new listviewer component to a screen did not resolve it.  Copying the whole project did

[2021-01-29 12:58] josmas commented on #759
Just as a heads up; we couldn't find anything wrong with the configuration of the module, so we are going to do a full upgrade as we are a couple of versions behind. The upgrade has not been scheduled yet though. Thanks!

[2021-01-29 13:10] josmas commented on #812
hi @KaneoheKid so I added a list viewer on your first screen and that shows just fine.
I see this error in console when I click on one of your images: `SyntaxError: missing ) after argument list` which seems to suggest that at least one of the lists that you are using has some type of error.
I am guessing you are using a list for your list view elements? Could you temporarily substitute one of tho

[2021-01-29 14:15] domhnallohanlon commented on #398
Hey @eoinparkinson - were we able to resolve this in another channel?

I've done something similar to this in the past myself and it should be possible for you too?

[2021-01-29 14:31] domhnallohanlon commented on #400
Thanks @Heikkiss - still working on this, but wanted to let you know that we now have an `undo last delete` option in the blocks editor context menu.

![Screenshot 2021-01-29 at 14 28 43](https://user-images.githubusercontent.com/3117345/106287070-4cbed000-623e-11eb-86fe-160e67ea7fbc.png)

It's not the same as a full undo/redo but at least users don't have to re-block anything if they accidentally

[2021-01-29 14:33] jane-d-alt commented on #410
This behavior has been resolved. We'll close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-01-29 14:33] #410 closed

[2021-01-29 18:27] MRifaau commented on #722
Have you found any solution?

[2021-01-29 20:09] danibarzo commented on #759
Hi Jos, what do you mean?. I am testing and none iPhone receives the image
attached with the push notification (having set the push notification
feature with thunkable of course), only arrives the text. Have you tested
it?

On Fri, Jan 29, 2021 at 7:58 AM Jos <notifications@github.com> wrote:

[2021-01-29 20:54] josmas commented on #759
We can see that it fails, but our config follows the docs so we don't know why it fails. We will do a full upgrade of the library to see if the problem is in the library itself. Does that make sense?

[2021-01-29 20:56] josmas commented on #806
Hi there, can you please link to a project that reproduces this issue? Not asking for your projects as such, but a minimal sample projects that shows the issue. thanks!

[2021-01-29 20:59] josmas commented on #805
Not sure that is the case. Hey @StevenPurn, do we always refresh the data when changing screens? In this case we are talking about a navigator, so it is a new Screen.

[2021-01-29 21:01] #803 closed

[2021-01-29 21:15] danibarzo commented on #759
Yes of course, i am just thinking when i followed the steps to set up the Push notification feature in thunkable, the documentation never mentioned the "Notification service extension" which is actually a requirement to use images with this feature on IOS platform. But thanks for your replay and explanation, i hope we can use the complete feature soon.

[2021-01-29 23:20] josmas commented on #759
Yes, we do that config on our side. In the same way that you only have to select a platform but  not install the SDK for that platform. We hide as much stuff as possible to make it simpler, although with Apple not a lot of things are simple (with certs and so forth)>

[2021-01-30 10:52] Heikkiss commented on #400
Oh nice, thank you! This is really great to hear. I'm not probably the only one who's been struggling with this. :)

[2021-01-31 01:42] KaneoheKid commented on #812
Just to be clear, the project "BadSatListview" listview actually functions properly.  The Sat screen in "RestlessWorld1", which has the same variables does not.  Replacing the list elements in the variable with a new different list of elements did not resolve the issue.  If no one else is reporting a similar issue, then it isn't significant.  Perhaps the project was corrupted somehow.  I am able t

[2021-01-31 01:42] #812 closed

[2021-01-31 05:08] danibarzo commented on #759
ok thanks, clearer. I'll be waiting for the full upgrade of the library.

[2021-01-31 08:15] Irwin2004 commented on #806
Hi @josmas, here is the link
https://x.thunkable.com/copy/0c3d4f704ec21d854fa897074f79be96
To share image click the image and click the text to share the text. When press the text, it shows the share option. But when press the image, it don't show the share option. The blocks it same between the text and image.

[2021-02-01 16:11] josmas commented on #806
Hi @Irwin2004 can you confirm that this is exclusively when wanting to share an image from a data viewer?
An Image component works fine, right? I created a small app and it works for me, but we can look at the data viewer case.

[2021-02-02 00:25] Irwin2004 commented on #806
Hi @josmas, I want to share image using data viewer but I input the image using airtable. Can please you share your app.

[2021-02-02 01:02] Swish205 opened #813 "Add Font, font color, and background color/pic to list viewer."
I have a project and I have a very dark background. The gray font is not visible on the list viewer. Can Thunkable please and an option where you can change the font/color, background color/pic to list viewer? Thank you!

[2021-02-02 14:43] josmas commented on #806
Hi @Irwin2004 my app did not use the data viewer; so far I only checked that the share component works normally with the Image component on uploaded assets.

Are you testing this on Android or iOS?

There are a couple of things to test here, as mentioned above android and iOS behave slightly different, and I am not sure if one can share an image on Android that is a URL (you can share something th

[2021-02-02 20:49] StevenPurn commented on #793
I'm going to close this since we haven't had any discussion in >2 weeks. If the issue isn't resolved, please respond and we can open it back up.

[2021-02-02 20:49] #793 closed

[2021-02-03 02:04] Irwin2004 commented on #806
Hi @josmas, I am testing using Android and I use custom data viewer.

[2021-02-03 02:07] #805 closed

[2021-02-03 04:38] danibarzo opened #814 "Running the APP in the background"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to build an APP that needs to be running in the background. Currently thunkable does not support it.

**Describe the solution you'd like**
Many APPs will need to be running in the background like APPs for anti-theft, privacy, emergency, and security purposes

**Describe alternatives you've consider

[2021-02-03 12:15] josmas commented on #806
Hi @Irwin2004 thanks for confirming. Your app is working fine on iOS, I can click on both the image and text and they are shared correctly. But it does not seem to work on Android. We will have a look; thanks!

[2021-02-03 13:46] MrMazzone opened #815 "Web App Not Working"
@josmas My web app stopped working this morning.  No updates to it or anything on my end.  Something update on Thunkable's end to make this happen?

https://thunkable.site/web-build/index.html?webAppId=lCcCqQ3ts

Please let me know what we can do resolve this issue ASAP.  Thank you in advance.

Joe

[2021-02-03 13:51] josmas commented on #815
Hi @MrMazzone thanks for the report and apologies for the issues; we'll have a look.
Is it just the one app that is failing? do you happen to have more that one published?

[2021-02-03 13:55] MrMazzone commented on #815
@josmas Looks like just web apps that have loading icon and Airtable only.  Not sure which one is causing issue.  I can investigate later today, but would very much appreciate if you guys could discover the issue.

[2021-02-03 13:56] MrMazzone commented on #815
![image](https://user-images.githubusercontent.com/40954645/106756907-c0295e80-65fd-11eb-9b0a-a3225647a0e6.png)

[2021-02-03 13:58] josmas commented on #815
Is that screenshot from the same app? My error points to `Screen.js:987` when I open your app.

[2021-02-03 14:00] MrMazzone commented on #815
Hmmm... Yes.  Same app from the URL above.

[2021-02-03 14:00] josmas commented on #815
Do you happen to use `Device` blocks such as `device is online`?

[2021-02-03 14:00] MrMazzone commented on #815
Yes. I believe it does use that block.

[2021-02-03 14:03] josmas commented on #815
I can see the issue locally if I use that particular block. Let me check what is going on and get back to you. Thanks!

[2021-02-03 15:37] josmas commented on #815
@MrMazzone we have a fix but I am not sure when we can push to production as it affects the apps. We'll keep you posted.

[2021-02-03 16:06] MrMazzone commented on #815
@josmas Thank you.  Please let me know.  I am hoping soon.

[2021-02-03 16:54] josmas commented on #815
hey @MrMazzone I can see the sign in for your app now. Can you please verify all is back to normal? Thanks!

[2021-02-03 16:59] MrMazzone commented on #815
It is operational again!  Thank you so much for the quick work @josmas

[2021-02-03 16:59] #815 closed

[2021-02-03 17:13] josmas commented on #815
Thanks and apologies again for the downtime!

[2021-02-03 18:32] tommy10088 opened #816 "Buttom tab navigator - data viewer and screens’ glitch"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Is this for Classic, Classic companion, ✕, ✕ Android companion, or ✕ iOS companion?
✕ Android companion, ✕ iOS companion, and downloaded apps
### Issue/Request Origin
Where did you get this issue? Email, Intercom, or Commu

[2021-02-03 19:24] josmas commented on #814
Thanks for the request; this has been requested before though, so closing as Duplicate of #459

[2021-02-03 19:24] #814 closed

[2021-02-04 13:36] stanis14 commented on #486
For me being able to customize URL ; integrate to Iframe or download the web app to host it would all be great options for me !

[2021-02-04 13:53] MrMazzone commented on #486
I agree.  @josmas Has the team discussed this at all lately?  Would be super useful.

[2021-02-04 15:09] Irwin2004 opened #817 "Buttom tab navigator bug"
### Platform
Thunkable Live v257, Android

### Issue/Request Origin
I have 5 screen of buttom tab navigator. I am in screen 1, then I want to go to screen 2, so I press the icon of screen 2. But there is a delay when I press the icon of screen 2. It delay about 1 second then it will go to screen 2.

### Steps to Reproduce
1. Open Thunkable Live
2. Press the icon of buttom tab navigator

### Projec

[2021-02-04 16:29] Bobbybase opened #818 "Map boundary property"
This is a feature request for a map boundary property to be supported.  Perhaps to be used instead of zoom.  Google and other APIs return map details like directions and distance including a bounds property.  In this property are two others, northeast and southwest.  Each of these has latitude and longitude properties and these could be used to define the top right and bottom left of a map with a

[2021-02-04 17:15] andykiang commented on #486
Thanks for all the discussion and suggestions. We can definitely understand the benefit to all flexibility in all this. We're looking into different options and are allowing the web app to be iframed seems to allow for simplicity in implementation as well as control on your end.

As for timing though, I unfortunately don't have a clear timetable yet. We are currently focused on cleaning up a lot o

[2021-02-04 23:39] eoinparkinson commented on #398
@domhnallohanlon yes! i appreciate your assistance on that one. i really should have closed this topic. thanks.

[2021-02-04 23:41] #398 closed

[2021-02-05 08:58] boomdaba commented on #813
I have this issue too and want it to be changed soon
![IMG_0838](https://user-images.githubusercontent.com/77819558/107012032-0aac0600-67cb-11eb-8649-489952c07eea.PNG)

[2021-02-05 09:26] tommy10088 commented on #817
Yes, I have experienced the same issue. For the buttom tab navigator, everything seems really slow following the update of Thunkable live to v255. Please fix this.

[2021-02-05 12:32] Irwin2004 opened #819 "Status bar bug"
### Platform
Thunkable Live v257, Android

### Issue/Request Origin
I have 5 buttom tab navigator's screen, every buttom tab navigator's screen will have label/image/custom data viewer that will navigate to another screen. But when the screen open, the status bar will change to grey color about 1 second, after 1 second it will change to a color that I pick.

### Steps to Reproduce
1. Open Thunkabl

[2021-02-05 13:51] josmas commented on #818
hi @Bobbybase thanks for your request.
I would like to ask you to remove that docx file, please? the reason is that word files can contain macros and are a security risk. Feel free to attach the same content as images, text, or any format that might not pose a risk to readers. Thanks very much!

[2021-02-05 13:52] Irwin2004 opened #820 "Buttom tab navigator's icon and height resize feature request"
**Is your feature request related to a problem? Please describe.**
Yes. The buttom tab navigator's icon cannot be resize. The buttom tab navigator's height cannot be resize.

**Describe the solution you'd like**
I want the buttom tab navigator's icon can be resize and the height of buttom tab navigator can be resize too.

**Describe alternatives you've considered**

**Which platform are you asking

[2021-02-05 13:52] Bobbybase commented on #818
No problem. I’ll do that now

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jos <notifications@github.com>
Sent: Friday, February 5, 2021 1:51:44 PM
To: thunkable/thunkable-issues <thunkable-issues@noreply.github.com>
Cc: Bobbybase <robertplummer1@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [thunkable/thunkable-issues] Map boundary property (

[2021-02-05 14:19] domhnallohanlon commented on #448
@danielcoglitore we just took another look at this and the scrolling looks like it's fixed now:
https://x.thunkable.com/projectPage/601d510c3d9b1e38ddcdde3d/

Scrolling works for on Thunkable Live

Can we close this issue now?

[2021-02-05 14:26] domhnallohanlon commented on #478
Hey @easaw @danielcoglitore, this is actually part of the Blocky defaults and will take some work to fix.

Thanks for flagging this!

[2021-02-05 14:30] jane-d-alt commented on #484
We are currently working on an update to the Thunkable Live app which includes an in-app 'Reset' button, which should address this issue. Thanks for the request!

[2021-02-05 14:34] jane-d-alt commented on #494
This issue was resolved shortly after reporting. We'll close this issue for now; apologies for not following up when it was originally resolved.

[2021-02-05 14:34] #494 closed

[2021-02-05 14:35] jane-d-alt commented on #490
This behavior has been resolved. We'll close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-02-05 14:35] #490 closed

[2021-02-05 14:36] domhnallohanlon commented on #483
Hey @app-vrb - how are things going with your Home Automation app?

Unfortunately this isn't possible with Thunkable functions right now but I'm sure that @AlexITMan's suggested work around could do the trick.

Just wanted to share some more info on async blocks in the platform with you:
https://community.thunkable.com/t/asynchronous-blocks-within-loops/33524?u=domhnallohanlon

https://community.t

[2021-02-05 14:36] jane-d-alt commented on #496
This can now be accomplished with the Text Input 'when Changes' block: https://docs.thunkable.com/text-input#changes
We'll close this issue now; apologies for not following up when this block was originally added to the component.

[2021-02-05 14:36] #496 closed

[2021-02-05 14:38] jane-d-alt commented on #497
Hi there,

This is the expected behavior of the Local DB component. See further info here: https://docs.thunkable.com/local-db#update-data-in-your-table

You can create a local Data Source in your app project: https://docs.thunkable.com/data-sources
Changes to a local Data Source will persist if you close and re-open the app.

[2021-02-05 14:38] #497 closed

[2021-02-05 14:44] jane-d-alt commented on #509
In Thunkable's new Drag and Drop UI, you can access the project details page form inside the project UI. You can then share this URL with others.

We'll close this issue now; we hope that you enjoy checking out this and other features available in the Drag and Drop UI!

[2021-02-05 14:44] #509 closed

[2021-02-05 14:55] jane-d-alt commented on #524
Multiline input with a Text Input is now available when previewing apps on the web and when using apps on a device.
We'll close this issue now; apologies for not following up as soon as this feature was implemented.

[2021-02-05 14:55] #524 closed

[2021-02-05 14:58] domhnallohanlon commented on #498
Hey @eoinparkinson  - so this came out for Android this week and should hopefully be available for iOS soon.
![Screenshot_20210205-143848](https://user-images.githubusercontent.com/3117345/107049881-8786b200-67c2-11eb-8841-d800f84de1de.jpg)

[2021-02-05 19:44] eoinparkinson commented on #498
Thanks for the update @domhnallohanlon, much appreciated.

[2021-02-06 18:16] lukeplays33 opened #821 "NavigationBarColor/Transparency"
**Is your feature request related to a problem? Please describe.**
When Changing app theme to dark we Will still have a White NavigationBar

**Describe the solution you'd like**
To allow us to change the color or having a Transparent navigation bar so we can add dark mode whitout any color issues

**Which platform are you asking for?**
Thunkable ✕ (x.thunkable.com)

**Additional context**
![Screen

[2021-02-07 05:31] tatiang opened #822 "Button order is reversed"
**Is your feature request related to a problem? Please describe.**
In the legacy interface, when you add buttons, they are numbered 1, 2, 3, 4, as you add them to a screen. In the drag-and-drop interface, they are numbered 4, 3, 2, 1, as you add them to a screen.

When using the Any Component blocks, it's harder to use the button order value in the drag-and-drop interface because every time you ad

[2021-02-07 14:08] danibarzo commented on #459
Hi @josmas , is this feature being considered/deployed currently? ,🙏🏻

[2021-02-07 17:24] josmas commented on #459
Hi @danibarzo unfortunately not, we cannot prioritize this right now. It is still being considered and it is something that we'd like to work on, but we do not have the bandwidth at the moment.

[2021-02-07 18:58] tatiang opened #823 ""image from photo library" block does nothing"
### Platform
Thunkable X, drag-and-drop interface

### Issue/Request Origin

### Steps to Reproduce
1. "Attempt to use an image from photo" library block.
2. Nothing happens.
3.

### Project Link

### Expected Behavior

### Actual Behavior
[code]
These blocks do nothing. There's no response, no result, no label value, no image.

<img width="480" alt="Screen Shot 2021-02-07 at 10 57 56 AM" src="htt

[2021-02-07 19:26] josmas commented on #823
thanks for the report @tatiang
Seems to only affect new DnD UI, I can see the same; we'll look in to it.

[2021-02-08 07:28] alahimdtowfiq07 commented on #778
I created a circular button with the help of a Thunkable Community Post. After I have created the button, the text alignment of the button is top. I can’t change it to center.
Please Help.

[2021-02-08 16:27] Bobbybase commented on #818
Done

[2021-02-09 20:31] StevenPurn commented on #805
Sorry for the delayed response. I don't believe we should but I also just heard of a similar issue where the scroll position isn't persisted when navigating to/from a screen with a DV. Going to take a look at it now.

[2021-02-10 09:14] Irwin2004 opened #824 "Custom data viewer bug"
### Platform
Thunkable Live v258, Android

### Issue/Request Origin
I open my application, then I change the data in my Airtable. Then I refresh my custom data viewer, I click my custom data viewer, so it will navigate to another screen. When I open it, the data don't change.

### Steps to Reproduce
1. Open Thunkable Live
2. Change the data in Airtable
3. Refresh the custom data viewer
4. Click cu

[2021-02-11 09:20] lukeplays33 opened #825 "Can't change top/Bottom tab navigator icons"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Thunka X Drag and Drop interface

### Steps to Reproduce
1. Create new project in Drag and Drop interface
2. Add top/Bottom tab navigator

### Project Link
https://x.thunkable.com/copy/e4a26844211107edaa08634bab565e48

  S

[2021-02-11 10:14] lukeplays33 opened #826 "Visible block not working"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Thunkable X Drag and Drop interface

### Steps to Reproduce
1. Use visible block and set to false
2. Live test on android or Companion

### Expected Behavior
Text input to be not visible

### Actual Behavior
What actually

[2021-02-12 14:27] domhnallohanlon commented on #540
Hi @Bellacopia,

I've created a sample project which _I think_ replicates the scenario you are describing, however I can't reproduce the behaviour that you describe above.

https://x.thunkable.com/projectPage/60268e01cd3cec42e47b6a31

Would you mind taking a look and let me know what you think?

Thanks!

[2021-02-12 14:34] domhnallohanlon commented on #546
Hey @AlexITMan - apologies for the delay following up with this.

Pretty sure this was fixed a while ago but just confirming this?

[2021-02-12 14:45] jane-d-alt commented on #553
HI ifrew,

This issue was resolved by Thunkable team members Jose and Steve shortly after reporting.

We'll close this issue now. Apologies for not following up when the fix was initially implemented!

[2021-02-12 14:45] #553 closed

[2021-02-12 14:47] jane-d-alt commented on #557
Time and Date Picker components now appear as expected on the web.

We'll close this issue now. Apologies for not following up when the fix was initially implemented!

[2021-02-12 14:47] #557 closed

[2021-02-12 14:57] jane-d-alt commented on #567
The Data Viewer List now has a 'Refresh Data' block.

We'll close this issue now. Apologies for not following up when the block was initially implemented!

[2021-02-12 14:57] #567 closed

[2021-02-12 14:58] domhnallohanlon commented on #548
Was able to reproduce this @josmas

![elseif_stored_vars](https://user-images.githubusercontent.com/3117345/107781853-49e4d480-6d40-11eb-90c4-9f0466b93284.gif)

Hey @DrTedGit, wondering if it's because you are trying to get a property that doesn't exist from an object that isn't there? These blocks seemed to work fine for me?
<img width="671" alt="Screenshot 2021-02-12 at 14 56 59" src="https://us

[2021-02-12 15:00] jane-d-alt commented on #569
Closing this issue as Jose's suggestion is the correct way to address this behavior. Feel free to reach out to the team if you need guidance on implementation!

[2021-02-12 15:00] #569 closed

[2021-02-12 15:11] jane-d-alt commented on #583
Hi there,

Thunkable team member Jose is working on adding font size, font color, and background color properties to the List Viewer component. Expect to see these options in Thunkable very soon!

[2021-02-12 15:12] jane-d-alt commented on #586
These blocks are now visible when you open the blocks drawer of a Web Viewer component.
We'll close this issue now. Thanks for bringing this behavior to our attention!

[2021-02-12 15:12] #586 closed

[2021-02-12 15:16] domhnallohanlon commented on #572
Hey @mrheadyhead, agreed it would be great to have this in the blocks too, but I was able to create the functionality that you were looking for with a variable and a function.

These blocks work when the switch (or slider) is changed by hand and when it is changed via the button click.

<img width="605" alt="Screenshot 2021-02-12 at 15 13 59" src="https://user-images.githubusercontent.com/3117345/

[2021-02-12 15:17] jane-d-alt commented on #589
Closing as this issue was resolved in private conversations at the time of reporting.

[2021-02-12 15:17] #589 closed

[2021-02-12 15:23] jane-d-alt commented on #592
This behavior appears to be resolved. We'll close this issue now. Apologies for not following up when this behavior was initally resolved. Thanks for reporting!

[2021-02-12 15:23] #592 closed

[2021-02-12 18:37] tatiang opened #827 "Screens load twice"
### Platform
Thunkable X

### Issue/Request Origin
This has been reported many times. Here's one topic, for example: https://community.thunkable.com/t/splash-page-opens-twice-on-downloaded-app-on-ios/833717/6

### Steps to Reproduce
1. Use a When Screen Opens or When Screen Starts block
2. Blocks inside that event block trigger twice when the screen loads
3.

### Project Link

### Expected Behavio

[2021-02-12 19:00] tatiang commented on #768
Thunkable Live is such a valuable piece of software for Thunkable developers like myself.

Currently, when I make a change to my project, I have to force-quit the app and then re-open it for the changes to take effect. This means that every tiny change I make, such as renaming a label, requires another 45 second wait for the app to fully load and display my project.

I know this is under considera

[2021-02-12 20:34] anttok commented on #328
I agree, I came for the cross platform support, but i can't stay without full BLE support. Is this still in development, its pretty slow and unreliable at the moment.

[2021-02-12 20:53] domhnallohanlon commented on #328
Hey @anttok can you tell me a little more about what you're trying to do via BLE?
Thanks

[2021-02-13 07:37] hazhalim opened #828 "Thunkable Live on iOS freezes when date picker is launched"
### Platform

Thunkable Live companion for iOS

### Issue/Request Origin

iOS/iPadOS 14.4, Thunkable Live version 258-2 for iOS/iPadOS. I tested my apps again after one week to discover the date input does not work and freezes the app upon launching the date picker. This issues happens across projects so I don't think my blocks are the issue. Reinstalling Thunkable Live does not resolve the issue.

[2021-02-14 00:25] kmsato opened #829 "Speech recognizer - please add support for Khmer language"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Wh

[2021-02-15 00:58] danibarzo commented on #759
Hi dear @josmas. Do you have any update about this issue?. Thanks in advance!

[2021-02-16 12:51] jane-d-alt commented on #590
Hi there, thanks for this request.
This is a specific use case of other requests such as #565 - with more blocks to set the properties of components, creators will be able to implement dark modes in their app.
for that reason, we are going to close this issue, just to avoid having multiple versions of the same request open.
You are welcome to comment on the linked issue to show that it is a popula

[2021-02-16 12:51] #590 closed

[2021-02-16 16:33] NinersDesign opened #830 "INTEGRATE SDK FILE"
I would like to suggest the SDK file integration. I need to integrate SDK to improve my ADMOB earnings.

[2021-02-16 16:42] josmas commented on #830
Hi there, what is `the SDK file integration`? Please explain what you intend to do.

[2021-02-16 16:43] josmas commented on #829
Hi there, we use Google's speech recognizer and we cannot add language support to it. If you request this to the Android team and they add it, it will automatically work on Thunkable. Thanks!

[2021-02-16 16:43] #829 closed

[2021-02-16 17:36] josmas commented on #828
Hi there @hazhalim I am testing your project on an iPhone with ios 14 and it works fine; can you confirm this is still an issue or not?

[2021-02-17 00:07] hazhalim commented on #828
Yes, but I just noticed that my "choose date" button doesn't freeze anymore if I leave the Date Input component visible. If I keep it hidden, my "choose date" button will freeze the app again. So far, my only workaround is setting the Date Input's opacity to 0.

[2021-02-17 02:45] NinersDesign commented on #830
I would like to insert the SDK of the APPODEAL mediation network. It helps me in the earnings of ADMOB by bringing more relevant ads to the content of my APP.
For that to happen I need to insert the SDK into my app.

[2021-02-17 02:45] kmsato commented on #829
Then it should be working, since this updated list includes Khmer

[image: image.png]
Can you help me set this up?

On Tue, Feb 16, 2021 at 11:43 PM Jos <notifications@github.com> wrote:

[2021-02-17 11:07] josmas commented on #829
Hi @kmsato did you mean to include an image? I can only see the following text:

[2021-02-17 11:48] josmas commented on #830
Hi @NinersDesign we do not have any plans to integrate with appodeal in the near future. I'll mark this as a feature request to be considered and some time in the future (no ETA). Thanks!

[2021-02-17 12:02] josmas commented on #826
hi @lukeplays33 is the label is still visible in the same place it was? as in, it does not hide at all? or does it appear somewhere else?

[2021-02-17 12:22] josmas commented on #825
hi @lukeplays33 thanks for your report. We are still working on completing all functionality for the new drag and drop interface, and that is one of the things we are missing. We will keep adding functionality to match the old one in coming releases. Thanks!

[2021-02-17 12:53] kmsato commented on #829
excuse me Jos, the image I've captured is from the list of supported
languages of Google in the speech-to-text
 function. This list includes Khmer.

Then why Thunkable doesn't have Khmer in the speech recognizer settings?

On Wed, Feb 17, 2021 at 6:07 PM Jos <notifications@github.com> wrote:

[2021-02-17 13:33] MrMazzone commented on #829
It does seem to be on the list here: https://cloud.google.com/speech-to-text/docs/languages

![image](https://user-images.githubusercontent.com/40954645/108211539-c853c480-70fa-11eb-98ce-23ddfc4b7dfe.png)

[2021-02-17 13:35] MrMazzone commented on #829
@josmas Does something like this work for @kmsato ?

![image](https://user-images.githubusercontent.com/40954645/108211800-27193e00-70fb-11eb-93c9-1a66c862ee36.png)

[2021-02-17 13:48] josmas commented on #829
hey @MrMazzone, note that the list you link to is for Google's cloud speech-to-text service, which is not the same as they provide within their mobile SDKs. Having said that, @kmsato you should try @MrMazzone's suggestion, either with a text block like in the screenshot above, or with simply a `km` value.

If any of those works for you, I'd be happy to add it to our list so you can select from the

[2021-02-18 11:25] josmas commented on #827
hey @tatiang thanks for the report. We'll do some triaging; could you confirm this is only for iOS downloaded apps as per the community thread? or are you noticing this also on Live app or Android/Web?

[2021-02-18 11:30] josmas commented on #823
We have a fix for this; should be out in next release. Thanks!

[2021-02-19 08:59] lukeplays33 commented on #826
IT is still visible.
And moves to X: 0 and Y: 0 position.
Whitout turning invisible.
And when i make IT visible IT turns back to normal.

[2021-02-19 11:42] josmas commented on #826
thanks for confirming; we'll have a look.

[2021-02-20 17:21] PhilosopherVet opened #831 "Sequential Integer Block"
I would like a Sequential Integer block like the Random Integer Block in Math
![Screenshot 2021-02-20 165530](https://user-images.githubusercontent.com/63498579/108602893-995c7d80-739c-11eb-956a-663663708589.png)

The reason is to assist the use of Buckets in Firebase. When Creating Buckets on firebase, I need a way to access sequential buckets. If I create a Bucket with text I can have individual

[2021-02-20 17:30] MrMazzone commented on #831
@PhilosopherVet maybe what you are looking for is a random `seed` block that would allow the pseudo-randomly generated numbers to be the same values each time the app runs?  https://en.wikipedia.org/wiki/Random_seed

I assume you want them to be random(ish) for security reasons?  Instead of just using a loop to generate a sequence.

[2021-02-20 17:35] PhilosopherVet commented on #831
I am trying to just generate the sequence. I am trying to generate the buckets within buckets and to then be able to access those I need to know what it was saved under. That was why I could access the bucket when I knew the random value, if I know the bucket it based on UID and a sequential set, then I can access it from a different page with the UID and the sequential list.

[2021-02-20 17:45] MrMazzone commented on #831
Code a loop like this and it will generate a list of numbers for you.
![image](https://user-images.githubusercontent.com/40954645/108604038-6fde2a80-7379-11eb-9c64-a56509e6448e.png)

[2021-02-20 17:46] MrMazzone commented on #831
Even better, Thunkable has this super useful block!
![image](https://user-images.githubusercontent.com/40954645/108604067-9dc36f00-7379-11eb-8ae3-34d73b28e8ad.png)

[2021-02-20 23:53] jaredgibb opened #832 "Weird issues status bar and “slide up area at bottom of screen”"
So. The status bar issue is already known. I am using “dark mode” and most of the time I can see the status bar content but sometimes not.

Also. Sometimes the app extends the full length of the screen (desired) but sometimes there is a small bar at the scroll up area on my iPhone 11

![53106B66-F46C-4FEB-8F55-A6115E5861A0](https://user-images.githubusercontent.com/70493366/108611475-c9ac1800-73ac

[2021-02-21 02:03] DrTedGit commented on #592
I tested this out and the behavior is different.  But after deleted all of
the rows using thunakble and repopulating them in the google sheet, the
data viewer doesn't show any data... :-(

On Fri, Feb 12, 2021 at 7:23 AM jane-d-alt <notifications@github.com> wrote:

[2021-02-21 02:09] DrTedGit commented on #548
@domhnallohanlon,
 In your example of the else if  you are using an app scope variable, not a stored variable. So it is an apples to oranges comparison.

The use case is pretty simple. Stored variables are can be set on any screen and persist across sessions. I wanted my event to respond differently depending on the value of the stored object property (mimicing a  case statement).

But I can't eve

[2021-02-21 02:15] DrTedGit commented on #789
Kinda clunky, but I use this EVERYWHERE as a substitute for enable/disable

![image](https://user-images.githubusercontent.com/66176281/108613500-8ac79380-73a7-11eb-8046-43c1eec433aa.png)

[2021-02-21 06:09] kmsato commented on #829
I've tested it with both km-KH and km, but it didn't work. D
@MrMazzone <https://github.com/MrMazzone>, any other suggestion?

Thank you!

On Wed, Feb 17, 2021 at 8:49 PM Jos <notifications@github.com> wrote:

[2021-02-21 13:00] MrMazzone commented on #829
@kmsato I was unable to find a list of languages supported by Google's mobile SDK that @josmas mentioned.  Sorry, I do not have any other ideas.

[2021-02-21 17:33] jaredgibb commented on #696
Bumping with this

https://github.com/thunkable/thunkable-issues/issues/832#issue-812733764

same issue without the navigator.

[2021-02-21 17:34] jaredgibb commented on #710
Hey @josmas. I wonder if your team has had a chance to talk about this one? I’d ao, any news?

[2021-02-22 10:53] camtez opened #833 "Disable Swiping Back"
Problem: On my downloaded iOS app I do not use a navigator as I have a designed linear UX path, and people can accidently swipe back and it can cause blocks to re-execute and crash.

Solution: A simple toggle to disable the swiping back and back button (Android) feature on each screen.

Alternative: I have considered implementing code to check what screen a user comes from and fire specific blocks

[2021-02-22 19:43] NathanaelGW opened #834 "Local html files will not load in Webviewer on Android"
### Platform
Thunkable X, Android App

### Steps to Reproduce
Set webviewer to display local html. Download app for Android and run.

### Expected Behavior
Webviewer displays local html file.

### Actual Behavior
The html file doesn't load and the webviewer crashes or becomes not visible. Cannot see any error messages.

### Comments
I repackaged an app for Android that worked correctly in January

[2021-02-22 22:38] josmas commented on #834
Hi @NathanaelGW thanks for the report. Are we talking plain html files or do you also have javascript files?
Could you please share a small project that shows the issue? I've just uploaded a plain html file and the webviewer shows it as usual.

[2021-02-23 14:35] NathanaelGW commented on #834
Hi @josmas, thanks for the quick reply. Here is a quick example of a webviewer displaying a plain, local html file: https://x.thunkable.com/copy/158c3bb96b330bd9fda958e8da205afb.

For me, it works fine in Live Preview but when I download and install it on Android the screen is just blank. I've tested it on three different Android phones with the same result.

Rather than failing to load the html a

[2021-02-23 14:57] stanis14 opened #835 "Allow thunkable web app in Iframe"
I would like to put my web app on a WIX website with Iframe fonction to have a personalize URL
For now there is a message saying that thunkable dont accepte Iframe when I trie to do it

It would be great if I could put the URL of the thunkable project and see it in a Iframe

I dont have alternative solution to put a personalize url

[2021-02-23 15:01] #820 closed

[2021-02-23 16:26] MrMazzone commented on #835
Hi @stanis14.  We have been discussing this in #486

[2021-02-23 19:05] josmas commented on #834
Hi @NathanaelGW thanks for the reproducible example. It might have something to do with the new system not showing base64 enconded images, as that is something I have not tried. I'll give it a go locally and let you know what I can find.

[2021-02-24 14:58] stanis14 commented on #835
Ok sorry thanks !

[2021-02-24 14:58] #835 closed

[2021-02-24 16:18] josmas commented on #834
We are patching up the build server in the next couple of hours. It should be good to go after that. Leaving the issue open for now in any case. Thanks!

[2021-02-24 17:43] josmas commented on #834
This has now been deployed. As a heads up, I've built your test app again and the first time I tried it I had a `'net::ERR_ACCESS_DENIED'` error that turned out to be an issue with caching in the device. Opening the app after clearing out the cache worked fine.

[2021-02-24 17:46] NathanaelGW commented on #834
I just tested the webviewer on my end and it's working again! I appreciate the quick resolution to this problem.

Thank you,

Nathanael

[2021-02-24 17:46] #834 closed

[2021-02-26 18:11] josmas commented on #832
Thanks for the report @jaredgibb (and the bump to #696)

I'll add this to the next batch of issues to triage; the main issue is the `sometimes` part. We need to find a reliable way to reproduce, otherwise we cannot debug. I am going to do a pass to the code anyway, see if anything jumps at me, but until we can reliably reproduce, we might not be able to find the root cause.

[2021-02-26 18:57] Oreldad commented on #780
any update?

[2021-02-26 22:03] josmas commented on #780
I am reading the threads and I don't think this is the issue I thought it was when I said this was being worked on.
I can see some of the issues in the screenshots, of course, but I don't know if this is one issue or several, and there is also some confusion about functionality that we do not support.

For instance, the properties that are marked as `(Android only)` only work on Android. On iOS, f

[2021-02-27 16:00] sangam4742 opened #836 "Add Material Icons"
I want to use but icon and text in a button in my app but I can't do that. Kindly add a feature to add material icon as fonts.

[2021-02-27 18:59] jaredgibb commented on #832
right on! thanks @josmas

here is the project page. I have left the project open at this time

https://x.thunkable.com/projectPage/6025e9f1602ce121a88b2f1a

Is there a way to give a redeem code? I have the app live on the store and if so could give a redeem code for you to check it out on your end?

[2021-02-28 09:47] AmigoDeluxe commented on #465
Aaaaany update?

[2021-02-28 13:18] camtez opened #837 "Push Notifications GetUserId failing!!!"
### Platform
✕

### Issue/Request Origin
Through testing my app on Testpilot and downloaded Android (for some reason it worked in the Live Test app).

### Steps to Reproduce
1. Set up a Push notifications account
2. Call GetUserId
3. It will return undefined for at least 10 seconds (I haven't tried longer)

### Project Link
I have a big project so probably best to look at this thread I made explai

[2021-02-28 20:58] AmigoDeluxe commented on #224
Any update on this?

[2021-02-28 22:43] josmas commented on #837
Hi @camtez I just tested this in a brand new app with nothing but these blocks and it works both on Live App and Android built/downloaded app. Is it possible that something else is wrong in your blocks?

<img width="630" alt="getuiserid" src="https://user-images.githubusercontent.com/194925/109436166-40cd5600-7a16-11eb-970b-70bd05e839bd.png">

[2021-02-28 22:49] josmas commented on #759
Still hasn't been scheduled, unfortunately.

[2021-02-28 22:50] josmas commented on #465
Hi @AmigoDeluxe
There are two outstanding issues with regards to one signal, this one and https://github.com/thunkable/thunkable-issues/issues/759
As per the latter, we need to do a full upgrade of the library so should be a good time to take care of this one too, but it has not been scheduled yet.

[2021-02-28 22:54] josmas commented on #548
hey @DrTedGit so in your stored variable, are you trying to store an object as such? Not sure that is gonna work. You could store a JSON.stringified version of the object and then use the block `get object from JSON`. Would that work?

[2021-02-28 23:00] josmas commented on #710
this is indeed a Duplicate of #224
There's more info there so closing down this one. Please follow discussion there.

[2021-02-28 23:00] #710 closed

[2021-02-28 23:35] josmas commented on #832
@jaredgibb there's no need to leave the project open.
I'll have a look. Not sure what you mean about redeem codes...

[2021-02-28 23:37] josmas commented on #832
note, if you are using dark mode, you should set the status bar style to dark or you won't see it.
I've also noticed that your web view wrapper is set to 110% height?

[2021-02-28 23:43] camtez commented on #837
Hey @josmas thanks for checking. I don't think so as the push notifications SDK seems to be working fine in my project - just not the call GetUserId. Do you have any suggestions for what might be causing it? If not, is it possible for me to generate my own Apple or Google Push Tokens?

[2021-03-01 02:24] camtez commented on #837
Ok it turns out I think the problem was I had 2 different Push_Notification components within the app (one for iOS and one for Android), and as soon as I removed these it started working.

[2021-03-01 10:50] josmas commented on #837
Oh, I see. You should be able to use just the one for both platforms. Thanks for letting us know.  Will close this one now.

[2021-03-01 10:50] #837 closed

[2021-03-01 10:55] #823 closed

[2021-03-01 20:21] eyegeegeewhy commented on #739
This is a much needed feature

[2021-03-03 08:32] tatiang opened #838 "Webviewer loading speed"
### Platform
Thunkable X; published app

### Issue/Request Origin
Reported at https://community.thunkable.com/t/webviewer-slow-to-load-sites/1132748.

### Steps to Reproduce
I don't know if this is a bug. I'm just hoping for some clarification around this.

I published an app with a webviewer that loads a few different sites each by clicking on a button. The loading time is noticeably slow. Wherea

[2021-03-03 08:44] tatiang commented on #838
This seems to be happening with a specific project so I'll contact Support about this.

[2021-03-03 10:51] MrMazzone commented on #838
@tatiang I have observed this also.

[2021-03-03 18:30] Bobbybase commented on #519
I think this would be a great addition to the Thunkable arsenal.  Difficult to believe it's only under consideration as the function is a basic HTML feature.

[2021-03-04 05:34] CFOLD opened #839 "'JSON to object' is not working"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The more info, the faster we will be able to address it!

### Platform
Is this for Classic, Classic companion, ✕, ✕ Android companion, or ✕ iOS companion?
X

### Steps to Reproduce
![image](https://user-images.githubusercontent.com/80024133/109916116-639d8a00-7cf6-11eb-8258-184a42b21387.png)

[2021-03-04 10:18] josmas commented on #839
Thanks for the report @CFOLD
We'll have a look.

[2021-03-04 11:27] josmas commented on #839
We have found the problem; we will try and get this out on main server in the next few hours. Thanks!

[2021-03-04 14:53] josmas commented on #839
This will be out in the next hour. Make sure you visit your blocks page so that the code underneath gets regenerated. Thanks for the report!

[2021-03-04 14:55] josmas commented on #824
hey @Irwin2004 is this still happening?

[2021-03-04 14:57] josmas commented on #821
you can use the device block to check if the user uses dark mode and change the color of the bar accordingly.
![color_scheme](https://user-images.githubusercontent.com/194925/109982479-dbb97f00-7cf9-11eb-8feb-21edbaa9206e.png)

[2021-03-04 14:58] josmas commented on #819
Hi @Irwin2004 we've fixed a number of flickering issues; is this still happening for you?

[2021-03-04 16:49] jaredgibb commented on #689
Yes please. Even highlighting the errd blocks would be nice.

[2021-03-04 17:47] tatiang opened #840 "Warning when deleting another user's project"
### Platform
Thunkable X

### Issue/Request Origin

### Steps to Reproduce
1. Another user shared a link to their project.
2. When I tried to delete the project from my list of projects, I got the warning message in the screenshot below.

### Project Link
I can provide it privately if needed.

### Expected Behavior
It shouldn't warn me about deleting an app that's been published if I wasn't the us

[2021-03-04 17:53] josmas commented on #840
Hi @tatiang we have added add to all projects. Once you made a copy, it becomes yours and we decided to warn users about the implications of deleting projects.

We've had so many cases in which a user deletes an app they have previously uploaded and then they need the keys to update their app on the store, and at times we won't have a copy ourselves either.

[2021-03-04 17:54] josmas commented on #840
Just to clarify, this will come up on any project, published or not.

[2021-03-04 17:54] tatiang commented on #840
Ah, okay. I was thinking it was suggesting that I had published that project but I see now it says "If..."

Thanks.

[2021-03-04 19:23] jaredgibb commented on #832
I have set things to dark mode.

You are right with setting the viewer to 110%

It’s a secret 🤫 but I can share in a private message

[2021-03-05 00:43] Irwin2004 commented on #819
Hi @josmas, yes it's still hapenning on me. Now I'm using v260.

[2021-03-05 01:36] Irwin2004 commented on #824
Hi @josmas, yes it's still happening. In this case I use more than 1 screen and every screen have custom data viewer.
1. I'm on screen 1, then I change the the data in Airtable of screen 2. Then I press screen 2 and wait until loading is done, I see the data change.
2. I'm on screen 1 then I go to screen 2, wait until screen 2 loading is done. Then I change the data in Airtable of screen 2 data, t

[2021-03-05 01:41] josmas commented on #824
Thanks for letting us know. @StevenPurn any idea what might be happening here?

[2021-03-05 01:42] #840 closed

[2021-03-05 01:42] #839 closed

[2021-03-05 01:46] Rojroj101 commented on #824
Please resolve this issue. I've been asking everyone in thunkable for help
on this issue. Its stymied the production of my app :(

On Thu, Mar 4, 2021, 8:41 PM Jos <notifications@github.com> wrote:

[2021-03-05 03:55] CFOLD commented on #839
@josmas Thank you for the fast feedback.

[2021-03-05 08:51] lukeplays33 commented on #821
Hello,
Thanks for replying.
However there are no blocks that allow me to do that.

[2021-03-05 14:10] josmas commented on #828
hi @hazhalim I see what you mean. We've added a check to call open on the picker only if it is visible, so the app does not hang. Will be out in next release (some time next week). Thanks!

[2021-03-05 20:01] StevenPurn commented on #824
Is this an issue when you pull to refresh, use the blocks to refresh, or both?

[2021-03-05 22:40] Rojroj101 commented on #824
Not sure if you saw this thread but I belive it will give you more
information about this glitch.

https://community.thunkable.com/t/data-viewer-list-incomplete-list-shown/985897

Also, I've noticed.. I may have isolated the problem more. If I make a new
project and connect the same data source it works. So when I go to the main
menu. or (thunkable home screen) then click on the data sources tab t

[2021-03-06 05:48] jamarpa opened #841 "Workspace Block - aid productivity."
**Is your feature request related to a problem? Please describe.**
Very hard to manage a large about of blocks. Might also assist Issue [#673].
Increased productivity

**Describe the solution you'd like**
A workspace block where you can store other blocks so you could put associated blocks within the Workspace block. Variables, functions, working on, feature, components etc.  You could still Clean

[2021-03-06 07:12] Irwin2004 commented on #824
Hi @StevenPurn, I made a small application to show the bug what I mean

Screen 1
![Screenshot_20210306-145312](https://user-images.githubusercontent.com/73010436/110198254-2965f100-7e8c-11eb-88c5-86de53139bbf.jpg)

Screen 2
![Screenshot_20210306-145317](https://user-images.githubusercontent.com/73010436/110198255-2a971e00-7e8c-11eb-929b-cfe98d5cde54.jpg)

Airtable before update
![Screenshot (64)](

[2021-03-06 07:16] Irwin2004 commented on #806
Hi @josmas, have you finish fixing this issue? Could you inform me if it fixed?

[2021-03-07 08:31] lukeplays33 opened #842 "Add more types of file picker"
**Is your feature request related to a problem? Please describe.**
I would really like to have multiple versions of the image picker for example a text picker

**Describe the solution you'd like**
I would like to have multiple file pickers that Will allow us to pick text, audio files OR custom files

**Which platform are you asking for?**
Thunkable ✕ (x.thunkable.com)

[2021-03-07 08:56] lukeplays33 opened #843 "Allow us to store items to the device its storage"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to be able to store files to the device its Storage

**Which platform are you asking for?**
Thunkable ✕ (x.thunkable.com)

[2021-03-08 11:06] fedegarcia30 commented on #763
Hi Team, any update if this feature will be solved?

[2021-03-08 17:21] StevenPurn commented on #824
Thanks for the example, this going to be very helpful. I'll take a closer look at it and hopefully we can find the issue. I'll update you here once I have a better idea of what is going on and how long it might take to get fixed.

[2021-03-09 03:17] Irwin2004 commented on #824
Hi @StevenPurn, I use Android to test my application.
To see the issue, you should wait until screen 1 & 2 load completely. Then you change to data in Airtable and see what happen.
The "test 5 & 6" have the same issue with "test 4", so I only pick "test 4".
Yes, the image is inside of custom data viewer.
Test 1 - 6 have the same image, but I only take example of "test 4".
In 1 colomn of custom dat

[2021-03-09 19:01] StevenPurn commented on #824
@Irwin2004 are you able to send me a link to your project so I can take a closer look?

[2021-03-11 14:31] marketto3000 commented on #335
I would like to have the possibility to change the color of the Marker in the Google map or better still to be able to define a custom icon.
Thanks Marco

[2021-03-11 14:32] marketto3000 commented on #335
I would like to have the possibility to change the color of the Marker in the Google map or better still to be able to define a custom icon.

Thanks Marco

[2021-03-12 14:08] domhnallohanlon commented on #639
Hey @DrTedGit,

Apologies for the delay following up to this - not sure if this block was available at the time, but would the `get row object` block work for your use case?

![Screenshot 2021-03-12 at 14 06 56](https://user-images.githubusercontent.com/3117345/110950993-6f173380-833c-11eb-9b99-a018d18424c4.png)

[2021-03-12 14:10] domhnallohanlon commented on #644
Hey @Antoriccio9  - can you send us a project link so that we can try and reproduce this behaviour on our end?

Thanks!

[2021-03-12 14:15] domhnallohanlon commented on #642
Hey @rajatdhariwal,

I think that a file picker component has been requested in the Community already.

There is also a more recent request in Github #842

I'll check on the status of these and get back to you.

[2021-03-12 14:16] domhnallohanlon commented on #842
Thanks @lukeplays33

We've seen a couple of requests for a file picker component in Thunkable (the earliest I can see in Github is #642)

Let me follow up with the team and get back to you

[2021-03-12 14:19] domhnallohanlon commented on #606
Thanks for the request @kezb765  - agreed that this would be a great feature to have.

In the meantime, have you seen Jared's approach to doing this directly in Thunkable?
https://community.thunkable.com/t/solved-webviewer-and-image-components-not-autoencoding-urls-to-produce-fancy-charts/478957/3?u=domhnallohanlon

Thanks!

[2021-03-12 14:21] domhnallohanlon commented on #607
Hey @AlexITMan,

Was that the default value for this block last year?

Looking at it now it seems to be from 1 - 5.

![Screenshot 2021-03-12 at 14 20 53](https://user-images.githubusercontent.com/3117345/110952462-2b252e00-833e-11eb-8b77-261c4a8d4f18.png)

Does that address the issue you were trying to raise?

[2021-03-12 14:50] domhnallohanlon commented on #612
@bymahoapp can you elaborate a bit here?

Do you want to be able to change the size of the icons and their colours when you are designing?

[2021-03-12 14:52] domhnallohanlon commented on #600
Thanks a million @eoinparkinson  - just tried to view your video though and the link doesn't seem to work for me?

Not sure if it's a permissions issue or you removed it maybe?

[2021-03-12 14:52] jane-d-alt commented on #619
This issue was resolved shortly after reporting. You should not experience this behavior in current versions of the Thunkable Live app for Android. We will close this issue now; apologies for not following up when this behavior was originally resolved.

[2021-03-12 14:52] #619 closed

[2021-03-12 14:57] jane-d-alt commented on #620
This behavior was resolved recently. We will close this issue now. Thank you for reporting it!

[2021-03-12 14:57] #620 closed

[2021-03-12 16:12] jane-d-alt commented on #626
This behavior has been resolved: if you build an app with a Text Input as described in the Steps to Reproduce section, the code in the 'when Text Input Submit' block will be triggered when the enter key is hit on a web app.
We will close this issue now; apologies for not following up when this was originally resolved.